In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split

diabetes_data_set = pd.read_csv('../../../../datasets/Diabetes_and_LifeStyle_Dataset.csv')
diabetes_data_set.head()

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1

In [22]:
y = diabetes_data_set['diagnosed_diabetes']
X = diabetes_data_set.copy()

X.drop(columns=['diagnosed_diabetes', 'diabetes_stage'], inplace=True)
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

print(
    X_train.shape,
    y_train.shape,
    X_test.shape,
    y_test.shape,
    X_val.shape,
    y_val.shape
)

(58378, 29) (58378,) (19459, 29) (19459,) (19460, 29) (19460,)

In [23]:
cat_col_low_card = [col for col in X_train.columns
                        if X_train[col].dtype == 'object'
                        and len(X_train[col].unique()) < 4
                    ]
cat_col_low_card

['gender', 'smoking_status']

In [24]:
for col in cat_col_low_card:
    X_train[col] = X_train[col].factorize()[0]
X_train[cat_col_low_card]

       gender  smoking_status
1114        0               0
36685       1               1
35104       0               1
4905        1               1
20393       0               1
...       ...             ...
6265        0               0
54886       0               2
76820       0               1
860         1               2
15795       0               0

[58378 rows x 2 columns]

In [25]:
cat_col_high_card = [col for col in X_train.columns
                    if X_train[col].dtype == 'object'
                    and len(X_train[col].unique())]
cat_col_high_card

['ethnicity', 'education_level', 'income_level', 'employment_status']

In [26]:
X_train = pd.get_dummies(X_train, columns = cat_col_high_card, dtype=int)
X_train

,Age,gender,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,...,education_level_Postgraduate,income_level_High,income_level_Low,income_level_Lower-Middle,income_level_Middle,income_level_Upper-Middle,employment_status_Employed,employment_status_Retired,employment_status_Student,employment_status_Unemployed
1114,52,0,0,4,117,7.4,6.9,7.9,0,0,...,0,0,0,0,1,0,1,0,0,0
36685,66,1,1,0,114,6.6,7.7,1.9,0,0,...,0,0,0,1,0,0,0,1,0,0
35104,25,0,1,3,4,6.2,5.8,10.4,0,0,...,0,0,1,0,0,0,1,0,0,0
4905,44,1,1,2,44,5.5,8.1,8.5,1,0,...,0,0,0,0,1,0,1,0,0,0
20393,51,0,1,3,182,4.1,7.5,4.7,0,0,...,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,59,0,0,4,216,6.6,5.7,3.1,0,0,...,0,1,0,0,0,0,1,0,0,0
54886,43,0,2,4,146,9.2,8.3,9.2,0,0,...,0,0,0,1,0,0,1,0,0,0
76820,65,0,1,6,40,8.7,7.2,0.5,0,1,...,1,0,0,0,1,0,1,0,0,0
860,69,1,2,1,100,6.8,8.3,3.2,0,0,...,0,0,0,0,1,0,1,0,0,0
15795,68,0,0,0,65,2.7,5.5,5.5,0,0,...,0,0,0,1,0,0,1,0,0,0