In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

diabetes_data_set = pd.read_csv('../../../../datasets/Diabetes_and_LifeStyle_Dataset.csv')
diabetes_data_set

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97292,46,Male,Other,Graduate,Upper-Middle,Unemployed,Former,1,136,8.3,...,45,150,116,113,109,14.58,5.55,26.0,Pre-Diabetes,0
97293,41,Female,White,Graduate,Middle,Employed,Never,3,76,8.8,...,55,123,146,96,146,9.02,5.97,24.4,Pre-Diabetes,0
97294,57,Female,Black,No formal,Upper-Middle,Employed,Former,4,121,9.9,...,50,111,184,93,132,2.57,5.21,27.6,No Diabetes,0
97295,47,Female,Black,Highschool,Lower-Middle,Retired,Never,3,52,5.9,...,68,91,116,106,117,9.81,5.53,26.4,Pre-Diabetes,0
97296,52,Female,White,Postgraduate,Middle,Employed,Never,1,248,2.7,...,31,183,87,91,142,15.93,5.73,27.9,Pre-Diabetes,0

In [2]:
X = diabetes_data_set
y = diabetes_data_set['diagnosed_diabetes']
X.drop(['diabetes_stage', 'diagnosed_diabetes'], axis=1, inplace=True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

print(
    X_train.shape, 
    y_train.shape, 
    X_test.shape,
    y_test.shape,
    X_val.shape,
    y_val.shape
)

(58378, 29) (58378,) (19459, 29) (19459,) (19460, 29) (19460,)

In [3]:
X_train.describe()

,Age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,...,heart_rate,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score
count,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,...,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000
mean,50.264175,2.004625,118.741290,5.991197,6.999282,5.989648,0.220220,0.251430,0.079139,25.621049,...,69.624807,185.998201,54.034568,103.037840,121.571722,111.140190,160.053496,9.057076,6.521258,30.263044
std,15.552249,1.420672,84.577371,1.785515,1.091744,2.468475,0.414398,0.433839,0.269959,3.579790,...,8.374515,32.001383,10.272864,33.340917,43.330990,13.596805,30.927799,4.948079,0.814883,9.084864
min,19.000000,0.000000,0.000000,0.000000,3.000000,0.500000,0.000000,0.000000,0.000000,15.000000,...,40.000000,100.000000,20.000000,50.000000,30.000000,60.000000,70.000000,2.000000,4.000000,2.700000
25%,38.000000,1.000000,56.000000,4.800000,6.300000,4.300000,0.000000,0.000000,0.000000,23.200000,...,64.000000,164.000000,47.000000,78.000000,92.000000,102.000000,139.000000,5.090000,5.970000,23.800000
50%,51.000000,2.000000,99.000000,6.000000,7.000000,6.000000,0.000000,0.000000,0.000000,25.600000,...,70.000000,186.000000,54.000000,102.000000,121.000000,111.000000,160.000000,8.800000,6.520000,29.000000
75%,61.000000,3.000000,160.000000,7.200000,7.700000,7.700000,0.000000,1.000000,0.000000,28.000000,...,75.000000,208.000000,61.000000,126.000000,151.000000,120.000000,181.000000,12.440000,7.070000,35.700000
max,90.000000,10.000000,833.000000,10.000000,10.000000,16.500000,1.000000,1.000000,1.000000,39.200000,...,105.000000,318.000000,98.000000,247.000000,298.000000,172.000000,281.000000,30.760000,9.700000,66.100000

In [4]:
X_train.std(numeric_only=True)

Age                                   15.552249
alcohol_consumption_per_week           1.420672
physical_activity_minutes_per_week    84.577371
diet_score                             1.785515
sleep_hours_per_day                    1.091744
screen_time_hours_per_day              2.468475
family_history_diabetes                0.414398
hypertension_history                   0.433839
cardiovascular_history                 0.269959
bmi                                    3.579790
waist_to_hip_ratio                     0.046789
systolic_bp                           14.280592
diastolic_bp                           8.202300
heart_rate                             8.374515
cholesterol_total                     32.001383
hdl_cholesterol                       10.272864
ldl_cholesterol                       33.340917
triglycerides                         43.330990
glucose_fasting                       13.596805
glucose_postprandial                  30.927799
insulin_level                          4.948079
hba1c                                  0.814883
diabetes_risk_score                    9.084864
dtype: float64

In [5]:
num_cols = [col for col in X_train.columns
            if X_train[col].dtype in ['int64', 'float64']
]
print(num_cols, len(num_cols), sep='\n\n')

['Age', 'alcohol_consumption_per_week', 'physical_activity_minutes_per_week', 'diet_score', 'sleep_hours_per_day', 'screen_time_hours_per_day', 'family_history_diabetes', 'hypertension_history', 'cardiovascular_history', 'bmi', 'waist_to_hip_ratio', 'systolic_bp', 'diastolic_bp', 'heart_rate', 'cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol', 'triglycerides', 'glucose_fasting', 'glucose_postprandial', 'insulin_level', 'hba1c', 'diabetes_risk_score']

23

In [6]:
num_cols_high_variance = [col for col in num_cols
                         if X_train[col].std() > 1]
print(num_cols_high_variance, len(num_cols_high_variance), sep='\n\n')

['Age', 'alcohol_consumption_per_week', 'physical_activity_minutes_per_week', 'diet_score', 'sleep_hours_per_day', 'screen_time_hours_per_day', 'bmi', 'systolic_bp', 'diastolic_bp', 'heart_rate', 'cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol', 'triglycerides', 'glucose_fasting', 'glucose_postprandial', 'insulin_level', 'diabetes_risk_score']

18

In [10]:
#min max scale
X_train_min_max_scale = X_train.copy()
for col in num_cols_high_variance:
    X_train_min_max_scale[col] = (X_train_min_max_scale[col] - X_train_min_max_scale[col].min()) / (X_train_min_max_scale[col].max() - X_train_min_max_scale[col].min())
X_train_min_max_scale.std(numeric_only=True)

Age                                   0.219046
alcohol_consumption_per_week          0.142067
physical_activity_minutes_per_week    0.101533
diet_score                            0.178551
sleep_hours_per_day                   0.155963
screen_time_hours_per_day             0.154280
family_history_diabetes               0.414398
hypertension_history                  0.433839
cardiovascular_history                0.269959
bmi                                   0.147925
waist_to_hip_ratio                    0.046789
systolic_bp                           0.160456
diastolic_bp                          0.136705
heart_rate                            0.128839
cholesterol_total                     0.146795
hdl_cholesterol                       0.131703
ldl_cholesterol                       0.169243
triglycerides                         0.161683
glucose_fasting                       0.121400
glucose_postprandial                  0.146577
insulin_level                         0.172047
hba1c                                 0.814883
diabetes_risk_score                   0.143294
dtype: float64

In [12]:
X_train_z_score_scale = X_train.copy()

for col in num_cols_high_variance:
    X_train_z_score_scale[col] = (X_train_z_score_scale[col] - X_train_z_score_scale[col].mean()) / X_train_z_score_scale[col].std()
X_train_z_score_scale.std(numeric_only=True)

Age                                   1.000000
alcohol_consumption_per_week          1.000000
physical_activity_minutes_per_week    1.000000
diet_score                            1.000000
sleep_hours_per_day                   1.000000
screen_time_hours_per_day             1.000000
family_history_diabetes               0.414398
hypertension_history                  0.433839
cardiovascular_history                0.269959
bmi                                   1.000000
waist_to_hip_ratio                    0.046789
systolic_bp                           1.000000
diastolic_bp                          1.000000
heart_rate                            1.000000
cholesterol_total                     1.000000
hdl_cholesterol                       1.000000
ldl_cholesterol                       1.000000
triglycerides                         1.000000
glucose_fasting                       1.000000
glucose_postprandial                  1.000000
insulin_level                         1.000000
hba1c                                 0.814883
diabetes_risk_score                   1.000000
dtype: float64

In [13]:
X_train_z_score_scale.mean(numeric_only=True)

Age                                  -6.222635e-17
alcohol_consumption_per_week          6.298706e-17
physical_activity_minutes_per_week    6.803820e-17
diet_score                            9.402416e-17
sleep_hours_per_day                  -1.309948e-17
screen_time_hours_per_day             3.331316e-16
family_history_diabetes               2.202199e-01
hypertension_history                  2.514303e-01
cardiovascular_history                7.913940e-02
bmi                                   1.160057e-15
waist_to_hip_ratio                    8.560895e-01
systolic_bp                           2.357603e-16
diastolic_bp                         -5.232490e-16
heart_rate                            2.375860e-16
cholesterol_total                     2.583078e-16
hdl_cholesterol                       2.518265e-16
ldl_cholesterol                      -3.718367e-17
triglycerides                         8.296339e-17
glucose_fasting                       3.675767e-16
glucose_postprandial                 -1.641924e-16
insulin_level                        -1.643749e-16
hba1c                                 6.521258e+00
diabetes_risk_score                   4.423091e-16
dtype: float64