In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

diabetes_dataset = pd.read_csv('../../../../datasets/Diabetes_and_LifeStyle_Dataset.csv')
diabetes_dataset

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97292,46,Male,Other,Graduate,Upper-Middle,Unemployed,Former,1,136,8.3,...,45,150,116,113,109,14.58,5.55,26.0,Pre-Diabetes,0
97293,41,Female,White,Graduate,Middle,Employed,Never,3,76,8.8,...,55,123,146,96,146,9.02,5.97,24.4,Pre-Diabetes,0
97294,57,Female,Black,No formal,Upper-Middle,Employed,Former,4,121,9.9,...,50,111,184,93,132,2.57,5.21,27.6,No Diabetes,0
97295,47,Female,Black,Highschool,Lower-Middle,Retired,Never,3,52,5.9,...,68,91,116,106,117,9.81,5.53,26.4,Pre-Diabetes,0
97296,52,Female,White,Postgraduate,Middle,Employed,Never,1,248,2.7,...,31,183,87,91,142,15.93,5.73,27.9,Pre-Diabetes,0

In [5]:
y = diabetes_dataset['diagnosed_diabetes']
X = diabetes_dataset.copy()
X.drop(columns=['diabetes_stage','diagnosed_diabetes'], inplace=True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)


print(
    X_train.shape,
    y_train.shape,
    X_test.shape,
    y_test.shape,
    X_val.shape,
    y_val.shape
)

(58378, 29) (58378,) (19459, 29) (19459,) (19460, 29) (19460,)

In [8]:
num_cols_high_variance = [col for col in X_train.columns 
                          if X_train[col].dtype in ['int64', 'float64']
                          and X_train[col].std() > 1]
X_train[num_cols_high_variance].std(numeric_only=True)

Age                                   15.552249
alcohol_consumption_per_week           1.420672
physical_activity_minutes_per_week    84.577371
diet_score                             1.785515
sleep_hours_per_day                    1.091744
screen_time_hours_per_day              2.468475
bmi                                    3.579790
systolic_bp                           14.280592
diastolic_bp                           8.202300
heart_rate                             8.374515
cholesterol_total                     32.001383
hdl_cholesterol                       10.272864
ldl_cholesterol                       33.340917
triglycerides                         43.330990
glucose_fasting                       13.596805
glucose_postprandial                  30.927799
insulin_level                          4.948079
diabetes_risk_score                    9.084864
dtype: float64

In [15]:
X_train_min_max_scaled = X_train.copy()

min_max_scaler = MinMaxScaler()

X_train_min_max_scaled[num_cols_high_variance] = min_max_scaler.fit_transform(X_train_min_max_scaled[num_cols_high_variance])

X_train_min_max_scaled.std(numeric_only=True)

Age                                   0.219046
alcohol_consumption_per_week          0.142067
physical_activity_minutes_per_week    0.101533
diet_score                            0.178551
sleep_hours_per_day                   0.155963
screen_time_hours_per_day             0.154280
family_history_diabetes               0.414398
hypertension_history                  0.433839
cardiovascular_history                0.269959
bmi                                   0.147925
waist_to_hip_ratio                    0.046789
systolic_bp                           0.160456
diastolic_bp                          0.136705
heart_rate                            0.128839
cholesterol_total                     0.146795
hdl_cholesterol                       0.131703
ldl_cholesterol                       0.169243
triglycerides                         0.161683
glucose_fasting                       0.121400
glucose_postprandial                  0.146577
insulin_level                         0.172047
hba1c                                 0.814883
diabetes_risk_score                   0.143294
dtype: float64