In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

bmw_sales_data = pd.read_csv('../../../datasets/BMW sales data (2010-2024).csv')
bmw_sales_data

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [8]:
X = bmw_sales_data.copy()
y = X['Sales_Volume']
X.drop(columns=['Sales_Volume'], inplace = True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)
bmw_sales_train_data_set = pd.concat([X_train, y_train], axis=1)
bmw_sales_train_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Classification,Sales_Volume
18306,X3,2013,Asia,Silver,Hybrid,Manual,2.6,140438,41743,Low,3710
49528,5 Series,2014,Europe,Black,Electric,Manual,4.4,82749,112481,Low,6119
44745,3 Series,2011,Middle East,Red,Hybrid,Manual,3.9,168621,89312,Low,6500
46827,X3,2011,Africa,Blue,Hybrid,Manual,3.7,2885,113776,High,8321
27531,7 Series,2021,Middle East,Grey,Electric,Manual,4.7,130807,88939,Low,6878
...,...,...,...,...,...,...,...,...,...,...,...
11284,X5,2011,Africa,Grey,Electric,Automatic,4.1,6967,54853,High,8008
44732,M5,2016,South America,Black,Petrol,Manual,1.9,150464,30430,Low,3373
38158,X6,2019,Asia,Red,Electric,Automatic,3.3,142419,119997,Low,4575
860,X6,2018,North America,Grey,Diesel,Automatic,4.0,110555,107478,Low,5061
15795,i8,2019,South America,Black,Petrol,Manual,4.7,41614,83121,Low,5903

In [9]:
bmw_sales_volume_year_model = bmw_sales_train_data_set.groupby(by=['Year', 'Model']).Sales_Volume.mean().reset_index()
bmw_sales_volume_year_model

     Year     Model  Sales_Volume
0    2010  3 Series   5095.189744
1    2010  5 Series   5076.196721
2    2010  7 Series   5004.905882
3    2010        M3   5130.121387
4    2010        M5   5237.946809
..    ...       ...           ...
160  2024        X3   5071.654639
161  2024        X5   5028.748387
162  2024        X6   5228.551220
163  2024        i3   4919.802139
164  2024        i8   5316.941176

[165 rows x 3 columns]

In [21]:
models_more_sales = []
print("Max sales per year")
for year in bmw_sales_volume_year_model.Year.unique():
    bmw_sales_year = bmw_sales_volume_year_model['Year'] == year
    bmw_sales_year_model = bmw_sales_volume_year_model[bmw_sales_year]
    max_index = np.argmax(bmw_sales_year_model.Sales_Volume)
    bmw_sales_year_model_max = bmw_sales_year_model.iloc[max_index]
    print(f'Year: {year}')
    print(f'{bmw_sales_year_model_max}')
    models_more_sales.append(bmw_sales_year_model_max['Model'])
    print("")
print(f'{models_more_sales}')

Max sales per year
Year: 2010
Year                   2010
Model                    M5
Sales_Volume    5237.946809
Name: 4, dtype: object

Year: 2011
Year                   2011
Model                    X3
Sales_Volume    5540.208333
Name: 17, dtype: object

Year: 2012
Year                   2012
Model                    i3
Sales_Volume    5283.233831
Name: 31, dtype: object

Year: 2013
Year                   2013
Model                    i8
Sales_Volume    5323.603175
Name: 43, dtype: object

Year: 2014
Year                2014
Model           7 Series
Sales_Volume     5255.96
Name: 46, dtype: object

Year: 2015
Year                   2015
Model                    X1
Sales_Volume    5533.093023
Name: 60, dtype: object

Year: 2016
Year                   2016
Model                    i8
Sales_Volume    5244.447917
Name: 76, dtype: object

Year: 2017
Year                  2017
Model                   X3
Sales_Volume    5339.05988
Name: 83, dtype: object

Year: 2018
Year                  2018
Model                   i8
Sales_Volume    5224.62766
Name: 98, dtype: object

Year: 2019
Year                   2019
Model                    M5
Sales_Volume    5316.139785
Name: 103, dtype: object

Year: 2020
Year                   2020
Model                    X5
Sales_Volume    5543.232558
Name: 117, dtype: object

Year: 2021
Year                  2021
Model                   M5
Sales_Volume    5244.19697
Name: 125, dtype: object

Year: 2022
Year               2022
Model                X6
Sales_Volume    5393.08
Name: 140, dtype: object

Year: 2023
Year                   2023
Model                    X6
Sales_Volume    5296.624309
Name: 151, dtype: object

Year: 2024
Year                   2024
Model              7 Series
Sales_Volume    5386.323383
Name: 156, dtype: object

['M5', 'X3', 'i3', 'i8', '7 Series', 'X1', 'i8', 'X3', 'i8', 'M5', 'X5', 'M5', 'X6', 'X6', '7 Series']

In [22]:
models_less_sales = []
print("Min sales per year")
for year in bmw_sales_volume_year_model.Year.unique():
    bmw_sales_year = bmw_sales_volume_year_model['Year'] == year
    bmw_sales_year_model = bmw_sales_volume_year_model[bmw_sales_year]
    min_index = np.argmin(bmw_sales_year_model.Sales_Volume)
    bmw_sales_year_model_min = bmw_sales_year_model.iloc[min_index]
    print(f'Year: {year}')
    print(f'{bmw_sales_year_model_min}')
    models_less_sales.append(bmw_sales_year_model_min['Model'])
    print("")
print(f'{models_less_sales}')

Min sales per year
Year: 2010
Year                   2010
Model                    X1
Sales_Volume    4821.403509
Name: 5, dtype: object

Year: 2011
Year                   2011
Model                    M5
Sales_Volume    4721.301587
Name: 15, dtype: object

Year: 2012
Year                   2012
Model                    M5
Sales_Volume    4739.846154
Name: 26, dtype: object

Year: 2013
Year                   2013
Model              7 Series
Sales_Volume    4839.979695
Name: 35, dtype: object

Year: 2014
Year                   2014
Model                    M5
Sales_Volume    4801.640719
Name: 48, dtype: object

Year: 2015
Year                   2015
Model                    X6
Sales_Volume    4751.127907
Name: 63, dtype: object

Year: 2016
Year                   2016
Model              5 Series
Sales_Volume    4722.801843
Name: 67, dtype: object

Year: 2017
Year                   2017
Model                    X6
Sales_Volume    4470.042424
Name: 85, dtype: object

Year: 2018
Year              2018
Model               X5
Sales_Volume    4714.0
Name: 95, dtype: object

Year: 2019
Year                   2019
Model                    X1
Sales_Volume    4841.519417
Name: 104, dtype: object

Year: 2020
Year               2020
Model                M3
Sales_Volume    4849.25
Name: 113, dtype: object

Year: 2021
Year                   2021
Model              5 Series
Sales_Volume    4537.686391
Name: 122, dtype: object

Year: 2022
Year                   2022
Model                    X3
Sales_Volume    4805.975728
Name: 138, dtype: object

Year: 2023
Year                   2023
Model                    X5
Sales_Volume    4666.925466
Name: 150, dtype: object

Year: 2024
Year                   2024
Model                    M3
Sales_Volume    4796.752809
Name: 157, dtype: object

['X1', 'M5', 'M5', '7 Series', 'M5', 'X6', '5 Series', 'X6', 'X5', 'X1', 'M3', '5 Series', 'X3', 'X5', 'M3']

In [23]:
print("Max sales models")
print(models_more_sales)
print("Less sales models")
print(models_less_sales)

Max sales models
['M5', 'X3', 'i3', 'i8', '7 Series', 'X1', 'i8', 'X3', 'i8', 'M5', 'X5', 'M5', 'X6', 'X6', '7 Series']
Less sales models
['X1', 'M5', 'M5', '7 Series', 'M5', 'X6', '5 Series', 'X6', 'X5', 'X1', 'M3', '5 Series', 'X3', 'X5', 'M3']

In [30]:
models_more_and_less = np.intersect1d(models_more_sales, models_less_sales)

In [32]:
print("Only max sales models")
[model for model in models_more_sales if model not in models_more_and_less]

Only max sales models

['i3', 'i8', 'i8', 'i8']

In [33]:
print("Only less sales models")
[model for model in models_less_sales if model not in models_more_and_less]

Only less sales models

['5 Series', 'M3', '5 Series', 'M3']

In [35]:
models_more_sales = []
print("Max min sales per year difference")
for year in bmw_sales_volume_year_model.Year.unique():
    bmw_sales_year = bmw_sales_volume_year_model['Year'] == year
    bmw_sales_year_model = bmw_sales_volume_year_model[bmw_sales_year]
    max_index = np.argmax(bmw_sales_year_model.Sales_Volume)
    min_index = np.argmin(bmw_sales_year_model.Sales_Volume)
    bmw_sales_year_model_max = bmw_sales_year_model.iloc[max_index]
    bmw_sales_year_model_in = bmw_sales_year_model.iloc[min_index]
    sales_diff_year = bmw_sales_year_model_max['Sales_Volume'] - bmw_sales_year_model_min['Sales_Volume']
    print(f'Year: {year}')
    print(f'{sales_diff_year:.2f}')
    print("")

Max min sales per year difference
Year: 2010
441.19

Year: 2011
743.46

Year: 2012
486.48

Year: 2013
526.85

Year: 2014
459.21

Year: 2015
736.34

Year: 2016
447.70

Year: 2017
542.31

Year: 2018
427.87

Year: 2019
519.39

Year: 2020
746.48

Year: 2021
447.44

Year: 2022
596.33

Year: 2023
499.87

Year: 2024
589.57