In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_data_set = pd.read_csv('/home/jovyan/work/datasets/vehicles.csv')
vehicles_data_set.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [2]:
y = vehicles_data_set['price']
X = vehicles_data_set.copy()
X.drop(columns=[
    'price',
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date',
    'county',
    #71.72% null values
    'size',
    #40.88% null values
    'condition',
    #41.64% null values
    'cylinders',
    #30.57% null values
    'paint_color',
    #30.6% null values
    'drive'
], inplace=True, errors='ignore')

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 11), (256128,), (85376, 11), (85376,), (85376, 11), (85376,))

In [3]:
cols_with_null = [col for col in X_train.columns
                if X_train[col].isnull().any()]

for col_with_null in cols_with_null:
    #print(X_train[col_with_null].value_counts(dropna=False))
    col_null_sum = X_train[col_with_null].isnull().sum()
    print(col_with_null, col_null_sum, round((col_null_sum / X_train.shape[0]) * 100, 2))
print(X_train['type'].value_counts(dropna=False))

year 746 0.29
manufacturer 10624 4.15
model 3186 1.24
fuel 1758 0.69
odometer 2673 1.04
title_status 4927 1.92
transmission 1525 0.6
type 55877 21.82
type
NaN            55877
sedan          52095
SUV            46492
pickup         25927
truck          21042
other          13253
coupe          11570
hatchback       9971
wagon           6449
van             5134
convertible     4701
mini-van        2921
offroad          378
bus              318
Name: count, dtype: int64

In [4]:
cat_cols = [col for col in X_train.columns if X_train[col].dtype == 'object']
for col in cat_cols:
    print(
        col,
        '--------',
        X_train[col].unique().size
    )

region -------- 404
manufacturer -------- 43
model -------- 22687
fuel -------- 6
title_status -------- 7
transmission -------- 4
type -------- 14
state -------- 51

In [16]:
X_train['model'].astype('object')
sorted(X_train['model'].dropna().unique().tolist())

['$362.47, $1000 down, oac, 2.9%apr $362.47,luxury low miles $1000 down, only 40k miles',
 "'50 Business Coupe",
 '(300)',
 '(s)port (s)edan',
 '* vmi * ♿',
 ',,,,,,,',
 ',2012,2013, SOME 2014 MODELS',
 ',2017,2016,2015 MODELS',
 '-',
 '- 1500',
 '- 1500 Promaster Vans',
 '- 240d',
 '- 2500',
 '- 328i - convertible',
 '- 3500',
 '- 4WD - 5 SEAT - DOUBLE CAB',
 '- EX - TECH PKG - SAFETY SENSING',
 '- Forest River',
 '- LUXURY SUV - ALL WHEEL DRIVE',
 '- Model S',
 '- PROMASTER CITY',
 '- ProMaster Cargo Van',
 '- benz sprinter',
 '- international',
 '- isuzu npr landscape truck',
 '- mustang',
 '- santa fe',
 '-150 xlt',
 "-2018 Car's, Truck's and SUV's",
 "-2018 Cars and SUV's",
 '-benz e350',
 '-benz s430',
 '.',
 '.. ect.',
 '/ bertone x1/9',
 '/ braun',
 '/ durango sport',
 '/ vmi ♿',
 '// vmi // ♿',
 '/ford focus se',
 '/vmi conversion van',
 '0',
 '00000',
 '02 chevy.',
 '02 murcury mountaineer',
 '03 Monte Carlos',
 '03 accord coupe',
 '04 Colorado',
 '04 SUZUKI AERIO',
 '04 chrayler 300m',
 '04 mb ml350',
 '05 Saab 93 convertible',
 '06 Colorado Extreme',
 '06 F250 Lariat',
 '06TRX4 2500 turbo Diesel',
 '07 Freightliner M2 Dump Plow',
 '07 SONATA',
 "08' mkz 79,000 miles!",
 '09 HONDS ODYSSEY EXL',
 '09 crown victoria',
 '1',
 '1 1/2 ton',
 '1 series',
 '1 series 128i',
 '1 series 128i convertible 2d',
 '1 series 128i coupe 2d',
 '1 series 135i convertible 2d',
 '1 series 135i coupe 2d',
 '1 series 2dr conv 128i',
 '1 ton',
 '1 ton 3500',
 '1 ton dump bed',
 '1 ton power wagon',
 '1-series',
 '1-series 128i',
 '1-series 128i coupe',
 '1-ton',
 '1-ton deluxe',
 '1.5 ton',
 '1.8t convertible 2d',
 '1/2 ton',
 '1/2 ton panel',
 '1/2 ton pick up',
 '100',
 '100 cs quattro wagon',
 '100 pick-up truck',
 '100000',
 '107566',
 '108k',
 '11',
 '11 nova',
 '122',
 '122s',
 '123357',
 '124 spider',
 '124 spider $25k',
 '124 spider abarth',
 '124 spider classica',
 '124 spider lusso',
 '128i',
 '128i 2dr coup automatic clean carfax local vehicle',
 '128i convertible',
 '128i coupe',
 '128ic',
 '135',
 '135000',
 '135i',
 '135i 335i 335is 335xi  535i',
 '135i convertible',
 '135i m sport',
 '135is',
 '142000',
 '15',
 '15 SONATA',
 '15 passenger shuttle van',
 '15-PASSENGER VAN',
 '150',
 '150 4wd',
 '150 4x4',
 '150 full size van i',
 '150 pkup',
 '150 post',
 '150 xlt',
 '150 xlt 4x4',
 '1500',
 '1500 $398.43, $2500 down, only 58k miles $398.43, $2500 down, only 58k miles',
 '1500 *4x4*slt 4dr *crew cab sb *pichup *local *truck',
 '1500 *4x4-slt 4dr -crew cab sb -pickup *local *truck',
 '1500 2wd crew cab 140.5 spor',
 '1500 2wd crew cab lone star',
 '1500 2wd quad cab 140.5 big',
 '1500 2wd reg cab 120.5" tradesman',
 '1500 2wd sport',
 '1500 4 x 4',
 '1500 4.7 slt',
 '1500 4dr quad cab 140.5" wb slt',
 '1500 4wd',
 '1500 4wd crew cab 140.5" laramie',
 '1500 4wd crew cab 140.5" rebel',
 '1500 4wd crew cab 140.5" slt',
 '1500 4wd crew cab 149" laramie',
 '1500 4wd laramie crew cab',
 '1500 4wd quad cab 140.5" big horn',
 '1500 4wd quad cab 140.5" express',
 '1500 4x4',
 '1500 4x4 big horn',
 '1500 4x4 crew cab',
 '1500 4x4 crew cab low miles',
 '1500 4x4 express 4dr quad cab 6.3 ft sb pickup truck clean carfax 2-owner local truck',
 '1500 4x4 express 4dr quad cab 6.3 sb pickup clean carfax',
 '1500 4x4 gas',
 '1500 4x4 hemi',
 '1500 4x4 laramie',
 '1500 4x4 lb',
 '1500 4x4 slt',
 '1500 4x4 sport',
 '1500 4x4 v6',
 '1500 avalanche ltz 4x4',
 '1500 big horn',
 '1500 big horn 4wd',
 '1500 big horn 4wd 4x4',
 '1500 big horn 4wd!',
 "1500 big horn 4x2 crew cab 5'7 box w/ bluetooth automatic",
 '1500 big horn 4x4',
 '1500 big horn 4x4 5.7l hemi',
 '1500 big horn 4x4 crew cab',
 '1500 big horn 4x4 hemi',
 '1500 big horn crew cab swb',
 '1500 big horn hemi loaded',
 '1500 big horn hemi v8 4x4',
 '1500 big horn truck low mi',
 '1500 big horn | *one owner*,',
 '1500 big horn/lone star',
 '1500 big horn/lone star 4x4',
 '1500 big horn/lone star cr',
 '1500 big horn/lone star pre',
 '1500 big horncrew cab',
 '1500 big hornextended cab',
 '1500 bighorn',
 '1500 bighorn 4x4',
 '1500 bighorn 4x4 gas',
 '1500 classic',
 '1500 classic 4wd',
 '1500 classic big horn',
 '1500 classic bighorn',
 '1500 classic crew cab',
 '1500 classic crew cab big',
 '1500 classic crew cab slt',
 '1500 classic express',
 '1500 classic quad cab',
 '1500 classic quad cab slt',
 '1500 classic regular cab',
 '1500 classic slt',
 '1500 classic slt 4wd',
 '1500 classic slt 4x4',
 '1500 classic slt crewcab',
 '1500 classic sport 4x4',
 '1500 classic sxt plus',
 '1500 classic tradesman',
 '1500 classic warlock',
 '1500 club coupe',
 '1500 conversation',
 '1500 conversion van',
 '1500 crew',
 '1500 crew 4x4',
 '1500 crew cab',
 '1500 crew cab 1-owner sport',
 '1500 crew cab 140.5 larami',
 '1500 crew cab 140.5 outdoo',
 '1500 crew cab 4x4',
 '1500 crew cab big horn',
 '1500 crew cab express',
 '1500 crew cab express pickup',
 '1500 crew cab hemi',
 '1500 crew cab laramie',
 '1500 crew cab laramie limit',
 '1500 crew cab laramie pickup',
 '1500 crew cab lone star',
 '1500 crew cab rebel pickup',
 '1500 crew cab slt 4x4',
 '1500 crew cab slt pickup 4d',
 '1500 crew cab sport',
 '1500 crew cab tradesman',
 '1500 crew laramie',
 '1500 crew sport 4x4',
 '1500 crewcab hemi 20inch',
 '1500 eco diesel',
 '1500 ecodiesel',
 '1500 express',
 '1500 express 4x4 gas',
 '1500 express crew',
 '1500 express crew cab',
 '1500 express crew cab short',
 '1500 express hemi v8 4x4',
 '1500 express quad',
 '1500 express quad cab',
 '1500 express quad cab short',
 '1500 ext cab',
 '1500 extended cab',
 '1500 extended cab 4x4',
 '1500 flex fuel',
 '1500 harvest',
 '1500 hemi',
 '1500 hemi 112k miles',
 '1500 hemi 4x4',
 '1500 hemi crew',
 '1500 hemi slt',
 '1500 hemi, daytona',
 '1500 laramie',
 '1500 laramie 4dr cre',
 '1500 laramie 4dr quad cab 4x4 v8 hemi leather moon 20s',
 '1500 laramie 4wd',
 '1500 laramie 4x4',
 '1500 laramie 4x4 crew cab 57',
 '1500 laramie 4x4 eco diesel',
 '1500 laramie 4x4 gas',
 '1500 laramie 4x4 quad cab',
 '1500 laramie automatic',
 '1500 laramie big horn',
 '1500 laramie crew cab',
 '1500 laramie crew cab 4wd',
 '1500 laramie crew cab short',
 '1500 laramie crew hemi 5.7',
 '1500 laramie ecodiesel',
 '1500 laramie fully loaded!!',
 '1500 laramie limited',
 '1500 laramie longhorn',
 '1500 laramie longhorn 4wd',
 '1500 laramie longhorn 4wd!',
 '1500 laramie longhorn automatic',
 '1500 laramie longhorn editi',
 '1500 laramie longhorn, lifted, 4x4 laramie longhorn, lifted, 4x4',
 '1500 laramie quad cab',
 '1500 laramie quad cab short',
 '1500 laramie slt',
 '1500 laramie sport',
 '1500 laramie**v8,5.7l!!',
 '1500 laramie, $452.02 month, 2.9% apr, $2000 down, 72 m laramie, $452.02 month, 2.9% apr, $2000 down, 72 m',
 '1500 laramieextended cab',
 '1500 lifted big horn crew cab 5.7 liter hemi',
 '1500 limited',
 '1500 limited 4x4 gas',
 '1500 limited 4x4 hemi crew',
 '1500 limited crew cab',
 '1500 limited crewcab leveled',
 '1500 limited eco diesel',
 '1500 limited edition crew cab lwb 4wd',
 '1500 lone star',
 '1500 lone star crew cab',
 '1500 lone star, $435 month, $2000 down, oac, 2.9% $435 month, $2000 down, 2.9% apr, oac, 1 owner, 0 accidents, nice',
 '1500 lonestar',
 '1500 lonestar 4x4',
 '1500 longhorn',
 '1500 longhorn 4x4',
 '1500 longhorn 4x4 gas',
 '1500 longhorn limited',
 '1500 longhorn**navi*cam*lea',
 '1500 lt 4x4',
 '1500 lt crew cab',
 '1500 maxed out big horn',
 '1500 mega cab',
 '1500 megacab',
 '1500 megacab slt',
 '1500 outdoorsman',
 '1500 outdoorsman 4wd!',
 '1500 outdoorsman 4x4',
 '1500 outdoorsman hemi v8 4x4',
 '1500 plow truck 4x4',
 '1500 promaster - cargo van',
 '1500 promaster cargo van',
 '1500 quad cab',
 '1500 quad cab 140.5',
 '1500 quad cab 4 x 4',
 '1500 quad cab 4x4',
 '1500 quad cab 4x4 slt',
 '1500 quad cab big horn',
 '1500 quad cab express',
 '1500 quad cab express pickup',
 '1500 quad cab harvest pickup',
 '1500 quad cab hemi',
 '1500 quad cab laramie picku',
 '1500 quad cab laramie pickup',
 '1500 quad cab lone star',
 '1500 quad cab short b',
 '1500 quad cab slt',
 '1500 quad cab slt pic',
 '1500 quad cab slt pickup 4d',
 '1500 quad cab sport',
 '1500 quad cab sport pickup',
 '1500 quad cab st pick',
 '1500 quad cab sxt',
 '1500 quad cab tradesman',
 '1500 quadcab',
 '1500 quadcab slt',
 '1500 r/t sport 4wd',
 '1500 rebel',
 '1500 rebel 4x4',
 '1500 rebel 4x4 1/2 ton',
 '1500 rebel 4x4 off road',
 '1500 rebel crew cab',
 '1500 rebel*v8,5.7l',
 '1500 reg cab',
 '1500 reg cab slt "bumble bee" 4x4',
 '1500 reg cab st',
 '1500 regular cab',
 '1500 regular cab - rear camera - side cabinets -',
 '1500 regular cab lone star',
 '1500 regular cab manual,',
 '1500 regular cab st',
 '1500 regular cab tradesman',
 '1500 rst z71',
 '1500 sb',
 '1500 short box 4x4',
 '1500 sierra',
 '1500 sierra all-terrain',
 '1500 sierra denali',
 '1500 sierra slt',
 '1500 sierra/ c10',
 '1500 silverado',
 '1500 silverado 4x4',
 '1500 silverado ltz z71',
 '1500 silverado sierra',
 '1500 silverado titan',
 '1500 silverado z71',
 '1500 slt',
 '1500 slt 1500 quad hemi',
 '1500 slt 1owner 4x4 5.7l well maint runs&drive great!!!',
 '1500 slt 4dr quad cab slt',
 '1500 slt 4dr quad cab v8 automatic short bed tow pkg',
 '1500 slt 4wd',
 '1500 slt 4wd pickup truck',
 '1500 slt 4wd!',
 '1500 slt 4wd!crew cab',
 '1500 slt 4wd!extended cab',
 '1500 slt 4x4',
 '1500 slt 4x4 1/2 ton',
 '1500 slt 4x4 81k v8 hemi crew cab 20s newer tires',
 '1500 slt 4x4 half ton',
 '1500 slt 4x4 quad cab 135k lifted offroad tires tow pac',
 '1500 slt big horn',
 '1500 slt crew cab',
 '1500 slt crew cab 4x2',
 '1500 slt crew cab 4x4',
 "1500 slt crew cab 5'7 box",
 '1500 slt crew cab swb 4wd',
 '1500 slt crewcab 4x4',
 '1500 slt hemi 4wd lifted on 35 inch mt',
 '1500 slt laramie',
 '1500 slt laramie 4x4',
 '1500 slt pickup 4d 6',
 '1500 slt quad cab / 4x',
 '1500 slt quad cab 4wd',
 '1500 slt rwd half ton',
 '1500 slt sport',
 '1500 sltcrew cab',
 '1500 sltextended cab',
 '1500 sport',
 '1500 sport 4wd!',
 '1500 sport 4wd!crew cab',
 '1500 sport 4x2 regular cab 6',
 '1500 sport 4x4',
 '1500 sport 4x4 1/2 ton',
 '1500 sport 4x4 5.7l hemi v8',
 '1500 sport 4x4 crew cab 57 b',
 '1500 sport 4x4 gas',
 '1500 sport 4x4 hemi',
 '1500 sport 4x4 quad cab 6\'4" box',
 '1500 sport crew cab lwb 4wd',
 '1500 sport crew cab swb 4wd',
 '1500 sport crew hemi sun r',
 '1500 sport r/t hemi',
 '1500 sport r/t regular cab',
 '1500 sport rwd 1/2 ton',
 '1500 sport truck leather l',
 '1500 sportcrew cab',
 '1500 sportextended cab',
 '1500 sprt',
 '1500 st',
 '1500 st 4dr quad cab st',
 '1500 st 4wd!extended',
 '1500 st 4x4',
 '1500 st 4x4 gas',
 '1500 st 4x4 half ton',
 '1500 st express',
 '1500 st extended cab',
 '1500 st quad cab',
 '1500 st rwd',
 '1500 st tradesman/express',
 '1500 suburban',
 '1500 sxt 4x4',
 '1500 sxt 4x4 1/2 ton',
 '1500 sxt 4x4 half ton',
 '1500 tahoe',
 '1500 tradesman',
 '1500 tradesman 4wd!crew',
 '1500 tradesman 4x4',
 '1500 tradesman automatic',
 '1500 tradesman hemi',
 '1500 tradesman hemi 4x4',
 '1500 tradesman quad',
 '1500 tradesman standard',
 '1500 tradesman*back up cam*',
 '1500 tradesmanextended cab',
 '1500 truck american truck',
 '1500 trx',
 '1500 trx launch edition 702hp every option #114 of 702',
 '1500 van',
 '1500 w/ plow 4x4',
 '1500 x-cab 4wd z-71',
 '1500 yukon',
 '1500 yukon denali xl',
 '1500 yukon slt',
 '1500 yukon xl slt',
 '1500 z71',
 '1500hd',
 '1500laramie 4x4',
 '1500trx trx',
 '1600 roadster',
 '16M',
 '17 Focus base',
 '170000',
 '1800 es',
 '1800e',
 '19 foot flatbed stake body lift gate low miles',
 '190D Fintail',
 '190e',
 '1925 Model TT Dump Truck',
 '1926 nash',
 '1927 T-Bucket',
 '1928 Crysler',
 '1928 Ford, Pickup Truck',
 '1929 Ford.',
 '1929 Model A Roadster',
 '1929 ssk replica',
 '1931 Model A',
 '1931 Studebaker',
 '1931 model A',
 '1931 model a pu truck wide body',
 '1932 Riley Convertible',
 '1935 International',
 '1935 Plymouth sedan',
 '1936 International',
 '1937 Willy’s',
 '1939 international',
 '1940 Hudson',
 '1941',
 '1941 Willys coupe',
 '1942',
 '1942 Plymouth',
 '1946',
 '1947',
 '1947 sedan delivery',
 '1948 Plymouth Special Deluxe',
 '1949 Diamond T',
 '1949 Fleetline',
 '1949 Olds 98',
 '1949 PLYMOUTH DELUXE',
 '1950 olds',
 '1950 plymouth',
 '1951 Suburban',
 '1952',
 '1952 Bentley Mark VI',
 '1952 Kaiser Frazier Henry j',
 '1952 MGTD Kit Car',
 '1952 Plymouth Cranbrook',
 '1952 Willys M38',
 '1953 MG Replica',
 '1953 panel',
 '1954',
 '1954 Packard Patrician Limousine',
 '1954 Studebaker',
 '1954 skyline',
 '1955',
 '1955 Nash Rambler',
 '1955 Thunderbird',
 '1956 New Yorker',
 '1957 Plymouth Fury',
 '1957 camper  truck',
 '1958',
 '1958 F-250',
 '1958 tr3 rat rod',
 '1959  Oldsmobile  88',
 '1959 willy',
 '1960 Lotus Elite',
 '1960 bel air',
 '1960s',
 '1962',
 '1962 Galaxie XL 500',
 '1963 C 10 20',
 '1963 MORRIS MINOR WOODY',
 '1963 MORRIS WOODY',
 '1963 plymouth belvedere',
 '1964',
 '1964 AMC RAMBER 330',
 '1964 NOVA',
 '1964 Oldsmobile',
 '1964 Plymouth  Sport Fury',
 '1964 c10',
 '1964 econoline',
 '1964 oldsmobile dynamic',
 '1965 BARRACUDA',
 '1965 Bentley Continental',
 '1965 F-100',
 '1965 Falcon',
 '1965 Oldsmobile Starfire',
 '1965 Plymouth Baracuda',
 '1965 Plymouth barracuda',
 '1965 Pontaic GTO',
 '1965 Shelby Cobra',
 '1965 Thunderbird',
 '1965 amc rambler',
 '1965 corvette',
 '1965 falcon',
 '1966 C-30 1 ton',
 '1966 ElCamino',
 '1966 Impala',
 '1966 Oldsmobile Toronado',
 '1966 Volkswagan Convertible Bug',
 '1966 bug',
 '1966 chevelle',
 '1966 cj5',
 '1966 doge dart 273 gt',
 '1966 olds',
 '1966 to 2020',
 '1967',
 '1967 Capris Supersport',
 '1967 Chevelle',
 '1967 Dune Buggy',
 '1967 MG Midget',
 '1967 Nova SS',
 '1967 Sunbeam Tiger MkII',
 '1967 Tempest/GTO',
 '1967 camaro',
 '1967 capris Supersport',
 '1967 chevelle El Camino',
 '1967 fordvan',
 '1967 mustang',
 '1968',
 '1968 C10',
 '1968 Chevelle Malibu',
 '1968 Impala',
 '1968 Mustang Convertible',
 '1968 Torino Squire Station Wagon',
 '1968 camaro',
 '1968 corvette convertible',
 '1968 f250',
 '1968 speciality',
 '1969',
 '1969 1968 1964',
 '1969 AMX',
 '1969 C10',
 '1969 Corvette Stingray',
 '1969 Cougar Eliminator',
 '1969 El Camino',
 '1969 F250',
 '1969 F250 f100',
 '1969 SS 396/325',
 '1969 c-10',
 '1969 chevelle',
 '1969 corvette',
 '1969 montego',
 '1969 nova',
 '1970',
 '1970 Baja Bug',
 '1971 Bug Conv.',
 '1971 C10 Pickup',
 '1971 DeTomaso Pantera',
 '1971 Le Mans',
 '1971 V.W. BEETLE',
 '1971 el camino',
 '1972 B-GT',
 '1972 MG Midget',
 '1972 MGB',
 '1972 Monte Carlo',
 '1972 Mustang Conv',
 '1972 chevelle',
 '1972 corvette',
 '1972 cutlass supreme',
 '1972 oldsmobile delta 88 royale',
 '1972oldsmoble',
 '1973 Corvette Stingray',
 '1973 Opel GT',
 '1973 VOLK',
 '1973 corvette',
 '1973 fishing boat',
 '1973 nova',
 '1973VOLKSWAGEN BEETLE',
 '1974 Argosy Airstream',
 '1974 CAT 930',
 '1974 CJ5',
 '1974 Corvette Stingray',
 '1974 Fruehauf',
 '1974 Triumph Spitfire 1500',
 '1974 corvette',
 '1974 mgb roadster',
 '1975',
 '1976',
 '1976 Cheyenne 4x4',
 '1976 MG midget',
 '1976 MGB',
 '1976 T-Bird',
 '1976 corvette stingray',
 '1976 cougar',
 '1976 vega',
 '1977 CJ-5',
 '1977 F250 Lowboy',
 '1977 International',
 '1977 international scout',
 '1977 maverick',
 '1977 mgb convertible',
 '1978 C 10',
 '1978 Corvette',
 '1978 El Camino',
 '1978 F100',
 '1978 FJ40 Landcruiser',
 '1978 MGB',
 '1978 Thunderbird',
 '1978 corvette',
 '1978 f100',
 '1978 van',
 '1979 AMC Spirit GT AMX',
 '1979 MGB',
 '1979 Mustang Cobra',
 '1979 c10',
 '1979 corvette',
 '198.5',
 '1980 Mercedes- Benz 450 SL',
 '1980 Scottsdale',
 '1980 Sprint Race Car',
 '1980 camaro',
 '1980 mgb',
 '1981',
 '1981 El Camino',
 '1981 TRI-MAGNUM',
 '1981 chevy, c-10, 1/2ton pickup',
 '1981 corvette',
 '1981 elcamino',
 '1981 peterbilt',
 '1982',
 '1982 CORVETTE',
 '1982 F150',
 '1982 corvette',
 '1982 oldsmobil',
 '1983 Oldsmobile 98',
 '1983 Trans Am',
 '1983 c 30',
 '1983 mustang',
 '1984 AM General DJ5',
 '1984 American General 915A1',
 '1984 Bronco II',
 '1984 CJ-7',
 '1984 International',
 '1984 Westfalia',
 '1984 trans am',
 '1985 AMG',
 '1985 F150',
 '1985 FJ60',
 '1985 Mustang GT',
 '1985 Volkswagon Vanagon',
 '1985 Z28 Camaro TT',
 '1985 blazer',
 '1985 corvette',
 '1985 international',
 '1986',
 '1986 CJ-7',
 '1986 International',
 '1986 Monte Carlo ss',
 '1986 Suzuki',
 '1986 gl',
 '1986 suzuki Samurai',
 '1986. 250. lariat',
 '1987',
 '1987 AM General HUMVEE',
 '1987 Bronco II',
 '1987 Cutlass',
 '1987 Monte Carlo SS',
 '1987 corvette',
 '1987 international',
 '1987 suzuki samurai',
 '1988 Corvette',
 '1988 Fire bird formula',
 '1988 Nisan',
 '1988 Suzuki Samurai',
 '1988 Vol',
 '1988 f-250',
 '1988 k5 blazer',
 '1988 scottsdale plow truck',
 '1988 suzuki samurai',
 '1988Ford Ranger XLT',
 '1989 4Runner SR5',
 '1989 Camaro RS',
 '1989 Kenworth',
 '1989 Saab 9000 CD turbo',
 '1989 cummins truck',
 '1989 isuzu trooper',
 '1990',
 '1990 Geo tracker 2dr tintop',
 '1990 JAMBOREE SEARCHER',
 '1990 corvette',
 '1990 food trailer and hitch',
 '1990 mustang gt',
 '1990 nChevy Cheyenne',
 '1991 Bentley eight',
 '1991 Corvette',
 '1991 INTERNATIONAL 9800',
 '1991 Volkwagen Transporter',
 '1991 corvette',
 '1992',
 '1992 Benz',
 '1992 C1500',
 '1992 Camaro',
 '1992 ChevyVan G10',
 '1992 Corvette',
 '1992 International 4900',
 '1992 Suzuki Samari',
 '1992 corvette  convertible',
 '1992 freight liner',
 '1992 geo metro',
 '1992 mustang',
 '1993 3000gt',
 '1993 300ZX',
 '1993 Astro',
 '1993 Corvette',
 '1993 International Road Tractor',
 '1993 Mustang',
 '1993 mustang',
 '1994',
 '1994 DAIHATSU HIJET',
 '1994 Daihatsu Hijet',
 '1994 International 4700',
 '1994 Plymouth Voyager',
 '1994 SUZUKI CARRY',
 '1994 accura integra',
 '1994 bus',
 '1994 corvette',
 '1994 toyita csmry LE',
 '1995',
 '1995 Ambulance',
 '1995 Corvette',
 '1995 F250hd XLT',
 '1995 GT Mustang',
 '1995 Le Baron',
 '1995 Mustang',
 '1995 PIERCE SABER FIRE TRUCK',
 '1995 corvette',
 '1995 g20 van',
 '1995 international',
 '1996',
 '1996 Bluebird',
 '1996 Civic',
 '1996 Isuzu Rodeo',
 '1996 Madza Mx5',
 '1996 Reitnour',
 '1996 cierra',
 '1996 civic',
 '1996 impala',
 '1996 impala ss',
 '1996 mark 8',
 '1996 monte carlo',
 '1997',
 '1997 Eagle Talon Tsi AWD',
 '1997 Infinite',
 '1997 Isuzu NPR',
 '1997 Ranger',
 '1997 f350 xlt',
 '1997 international',
 '1997 s10',
 '1998',
 '1998 Corvette Coupe',
 '1998 E350',
 '1998 Jep Wrangler',
 '1998 Mack',
 '1998 corvette',
 '1998 do-466',
 '1998 itas',
 '1998 mustang',
 '1998 mustang gt convertible',
 '1998 oldsmobile aurora',
 '1998 slk230 amg kompressor',
 '1999',
 '1999 CL500',
 '1999 Cheyenne',
 '1999 Corvette',
 '1999 F-350 Super Duty XLT',
 '1999 F150 4X4',
 '1999 Freightliner tractor',
 '1999 International',
 '1999 Izuzu Rodeo LS',
 '1999 Plymouth Voyager',
 '1999 Saab 9-3 Trims',
 '1999 Suburau Forrester',
 '1999 Suburban',
 '1999 Suzuki Grand Vitara',
 '1999 corvette',
 '1999 f150 xlt',
 '1999 ply,prowler',
 '1999 saab',
 '1C4RJFLG6JC191200',
 '1FTEX08L6VKB69788',
 '1FTFW1CT4CFA04302',
 '1GD37TCG0G1319658',
 '1GNSKKE72DR211021',
 '1J4FA54197L128246',
 '1`500',
 '1hgcm56896a112876',
 '2',
 '2 Cherokees, 1 Grand Cherokee.',
 '2 door',
 '2 door 2door 2-dr 2dr',
 '2 door coup',
 '2 door coupe',
 '2 door echo',
 '2 door sedan',
 '2 door street rod',
 '2 door touring sedan',
 '2 dr del ray',
 '2 dr sedan',
 '2 dr victoria',
 '2 dr, sedan',
 '2 nova wagon 4dr',
 '2 series',
 '2 series 228i',
 '2 series 228i convertible 2d',
 '2 series 228i coupe 2d',
 '2 series 228i xdrive coupe',
 '2 series 228i xdrive gran',
 '2 series 230i coupe 2d',
 '2 series 230i xdrive',
 '2 series 230i xdrive coupe',
 '2 series m235i',
 '2 series m235i convertible',
 '2 series m235i coupe 2d',
 '2 series m235i estoril blu',
 '2 series m235i xdrive',
 '2 series m240i coupe 2d',
 '2 series m240i xdrive',
 '2 sport',
 '2 wheel drive',
 '2.0 liter turbo',
 '2.5 sl',
 '200',
 '200 - good on gas - recently smogged - great commu',
 '200 200c sedan 4d',
 '200 200s sedan 4d',
 '200 3.6l convertible',
 '200 4dr sdn limited fw',
 '200 4dr sdn limited pl',
 '200 4dr sdn s awd',
 '200 4dr sdn s fwd',

In [7]:
vehicles_data_set.drop(columns=[
    0,
    'id', 
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date',
    'county',
    #71.72% null values
    'size',
    #40.88% null values
    'condition',
    #41.64% null values
    'cylinders',
    #30.57% null values
    'paint_color',
    #30.6% null values
    'drive',
    # high cardinality 22687 unique values and 1,24% null values
    'model',
    #high cardinality with 404 unique values
    'region'
], inplace=True, errors='ignore')
vehicles_data_set.to_csv('/home/jovyan/work/datasets/vehicles_cleaned.csv', index=False)

In [8]:
vehicles_clean_dataset = pd.read_csv('/home/jovyan/work/datasets/vehicles_cleaned.csv')
vehicles_clean_dataset

,price,year,manufacturer,fuel,odometer,title_status,transmission,type,state
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,gas,32226.0,clean,other,sedan,wy
426876,30590,2020.0,volvo,gas,12029.0,clean,other,sedan,wy
426877,34990,2020.0,cadillac,diesel,4174.0,clean,other,hatchback,wy
426878,28990,2018.0,lexus,gas,30112.0,clean,other,sedan,wy
426879,30590,2019.0,bmw,gas,22716.0,clean,other,coupe,wy