In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer

vehicles_data_set = pd.read_csv('/home/jovyan/work/datasets/vehicles_cleaned.csv')
vehicles_data_set.head()

,price,year,manufacturer,fuel,odometer,title_status,transmission,type,state
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc

In [6]:
X = vehicles_data_set.copy()
y = vehicles_data_set['price'].copy()

X.drop(columns=['price'], inplace=True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 8), (256128,), (85376, 8), (85376,), (85376, 8), (85376,))

In [11]:
X_train.reset_index(inplace=True, drop=True)

In [15]:
cols_with_null_values = [col for col in X_train.columns
                  if X_train[col].isnull().any()]

for col_with_null_values in cols_with_null_values:
    print(
        X_train[col_with_null_values].value_counts(dropna=False, normalize=True)
    )

year
2018.0    0.085110
2017.0    0.084907
2015.0    0.074244
2013.0    0.072175
2016.0    0.071710
            ...
1920.0    0.000004
1913.0    0.000004
1918.0    0.000004
1901.0    0.000004
1943.0    0.000004
Name: proportion, Length: 112, dtype: float64
manufacturer
ford               0.166272
chevrolet          0.129306
toyota             0.079749
honda              0.049913
jeep               0.045302
nissan             0.044529
ram                0.042565
NaN                0.041479
gmc                0.038945
bmw                0.034186
dodge              0.032230
mercedes-benz      0.027588
hyundai            0.024008
subaru             0.022262
volkswagen         0.021856
kia                0.019900
lexus              0.019174
audi               0.018077
cadillac           0.016289
chrysler           0.013899
acura              0.013849
buick              0.012845
mazda              0.012810
infiniti           0.011365
lincoln            0.009796
volvo              0.008078
mitsubishi         0.007684
mini               0.005528
pontiac            0.005404
rover              0.005013
jaguar             0.004752
porsche            0.003311
mercury            0.002721
saturn             0.002518
alfa-romeo         0.002089
tesla              0.001956
fiat               0.001905
harley-davidson    0.000363
ferrari            0.000215
datsun             0.000141
aston-martin       0.000062
land rover         0.000059
morgan             0.000008
Name: proportion, dtype: float64
fuel
gas         0.834762
other       0.072085
diesel      0.070469
hybrid      0.011869
NaN         0.006864
electric    0.003951
Name: proportion, dtype: float64
odometer
NaN         0.010436
100000.0    0.005290
1.0         0.005251
0.0         0.004584
200000.0    0.004107
              ...
31654.0     0.000004
10227.0     0.000004
128305.0    0.000004
40777.0     0.000004
218666.0    0.000004
Name: proportion, Length: 80522, dtype: float64
title_status
clean         0.949338
NaN           0.019236
rebuilt       0.016730
salvage       0.009070
lien          0.003319
missing       0.001851
parts only    0.000457
Name: proportion, dtype: float64
transmission
automatic    0.788770
other        0.146048
manual       0.059228
NaN          0.005954
Name: proportion, dtype: float64
type
NaN            0.218160
sedan          0.203394
SUV            0.181519
pickup         0.101227
truck          0.082154
other          0.051744
coupe          0.045173
hatchback      0.038930
wagon          0.025179
van            0.020045
convertible    0.018354
mini-van       0.011404
offroad        0.001476
bus            0.001242
Name: proportion, dtype: float64

In [20]:
rows_with_odometer_with_null_values = X_train[X_train['odometer'].isnull()].index.to_list()

X_train_knn_imputed = X_train.copy()

print(
    X_train_knn_imputed['odometer'].isnull().any()
)

knn_imputer = KNNImputer()

knn_imputed_values = knn_imputer.fit_transform(
    np.reshape(
        X_train_knn_imputed['odometer'],
        (-1,1)
    )
)

X_train_knn_imputed.drop(columns=['odometer'], inplace=True)

True