In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_data_set = pd.read_csv('/home/jovyan/work/datasets/vehicles.csv')
vehicles_data_set.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
y = vehicles_data_set['price']
X = vehicles_data_set.copy()
X.drop(columns=[
    'price',
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date'
], inplace=True, errors='ignore')

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 17), (256128,), (85376, 17), (85376,), (85376, 17), (85376,))

In [9]:
cols_with_null = [col for col in X_train.columns
                if X_train[col].isnull().any()]

for col_with_null in cols_with_null:
    print(X_train[col_with_null].value_counts(dropna=False))
    print(X_train[col_with_null].isnull().sum())

year
2018.0    21799
2017.0    21747
2015.0    19016
2013.0    18486
2016.0    18367
          ...
1920.0        1
1913.0        1
1918.0        1
1901.0        1
1943.0        1
Name: count, Length: 112, dtype: int64
746
manufacturer
ford               42587
chevrolet          33119
toyota             20426
honda              12784
jeep               11603
nissan             11405
ram                10902
NaN                10624
gmc                 9975
bmw                 8756
dodge               8255
mercedes-benz       7066
hyundai             6149
subaru              5702
volkswagen          5598
kia                 5097
lexus               4911
audi                4630
cadillac            4172
chrysler            3560
acura               3547
buick               3290
mazda               3281
infiniti            2911
lincoln             2509
volvo               2069
mitsubishi          1968
mini                1416
pontiac             1384
rover               1284
jaguar              1217
porsche              848
mercury              697
saturn               645
alfa-romeo           535
tesla                501
fiat                 488
harley-davidson       93
ferrari               55
datsun                36
aston-martin          16
land rover            15
morgan                 2
Name: count, dtype: int64
10624
model
f-150                  4676
NaN                    3186
silverado 1500         3110
1500                   2477
camry                  1912
                       ...
F150 STEPSIDE             1
accorx                    1
c7500 7h2                 1
3500 crew cab 4wd         1
f250 super duty stx       1
Name: count, Length: 22687, dtype: int64
3186
condition
NaN          104714
good          72773
excellent     60768
like new      12768
fair           4010
new             744
salvage         351
Name: count, dtype: int64
104714
cylinders
NaN             106651
6 cylinders      56456
4 cylinders      46792
8 cylinders      43012
5 cylinders       1025
10 cylinders       890
other              796
3 cylinders        384
12 cylinders       122
Name: count, dtype: int64
106651
fuel
gas         213806
other        18463
diesel       18049
hybrid        3040
NaN           1758
electric      1012
Name: count, dtype: int64
1758
odometer
NaN         2673
100000.0    1355
1.0         1345
0.0         1174
200000.0    1052
            ...
31654.0        1
10227.0        1
128305.0       1
40777.0        1
218666.0       1
Name: count, Length: 80522, dtype: int64
2673
title_status
clean         243152
NaN             4927
rebuilt         4285
salvage         2323
lien             850
missing          474
parts only       117
Name: count, dtype: int64
4927
transmission
automatic    202026
other         37407
manual        15170
NaN            1525
Name: count, dtype: int64
1525
drive
4wd    79076
NaN    78382
fwd    63473
rwd    35197
Name: count, dtype: int64
78382
size
NaN            183687
full-size       38091
mid-size        20776
compact         11637
sub-compact      1937
Name: count, dtype: int64
183687
type
NaN            55877
sedan          52095
SUV            46492
pickup         25927
truck          21042
other          13253
coupe          11570
hatchback       9971
wagon           6449
van             5134
convertible     4701
mini-van        2921
offroad          378
bus              318
Name: count, dtype: int64
55877
paint_color
NaN       78310
white     47629
black     37695
silver    25725
blue      18697
red       18258
grey      14562
green      4360
custom     4018
brown      3993
yellow     1300
orange     1186
purple      395
Name: count, dtype: int64
78310
county
NaN    256128
Name: count, dtype: int64
256128