In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_data_set = pd.read_csv('/home/jovyan/work/datasets/vehicles.csv')
vehicles_data_set.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [2]:
y = vehicles_data_set['price']
X = vehicles_data_set.copy()
X.drop(columns=[
    'price',
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date',
    'county',
    #71.72% null values
    'size',
    #40.88% null values
    'condition',
    #41.64% null values
    'cylinders',
    #30.57% null values
    'paint_color',
    #30.6% null values
    'drive'
], inplace=True, errors='ignore')

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 11), (256128,), (85376, 11), (85376,), (85376, 11), (85376,))

In [3]:
cols_with_null = [col for col in X_train.columns
                if X_train[col].isnull().any()]

for col_with_null in cols_with_null:
    #print(X_train[col_with_null].value_counts(dropna=False))
    col_null_sum = X_train[col_with_null].isnull().sum()
    print(col_with_null, col_null_sum, round((col_null_sum / X_train.shape[0]) * 100, 2))
print(X_train['type'].value_counts(dropna=False))

year 746 0.29
manufacturer 10624 4.15
model 3186 1.24
fuel 1758 0.69
odometer 2673 1.04
title_status 4927 1.92
transmission 1525 0.6
type 55877 21.82
type
NaN            55877
sedan          52095
SUV            46492
pickup         25927
truck          21042
other          13253
coupe          11570
hatchback       9971
wagon           6449
van             5134
convertible     4701
mini-van        2921
offroad          378
bus              318
Name: count, dtype: int64

In [ ]:
vehicles_data_set.drop(columns=[
    0,
    'id',   
    'price',
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date',
    'county',
    #71.72% null values
    'size',
    #40.88% null values
    'condition',
    #41.64% null values
    'cylinders',
    #30.57% null values
    'paint_color',
    #30.6% null values
    'drive' 
], inplace=True, errors='ignore')
vehicles_data_set.to_csv('/home/jovyan/work/datasets/vehicles_na_columns_removed.csv', index=False)

In [7]:
vehicles_clean_dataset = pd.read_csv('/home/jovyan/work/datasets/vehicles_na_columns_removed.csv')
vehicles_clean_dataset

,Unnamed: 0,region,year,manufacturer,model,fuel,odometer,title_status,transmission,type,state
0,0,prescott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,1,fayetteville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,2,florida keys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,3,worcester / central MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,4,greensboro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...,...,...
426875,426875,wyoming,2019.0,nissan,maxima s sedan 4d,gas,32226.0,clean,other,sedan,wy
426876,426876,wyoming,2020.0,volvo,s60 t5 momentum sedan 4d,gas,12029.0,clean,other,sedan,wy
426877,426877,wyoming,2020.0,cadillac,xt4 sport suv 4d,diesel,4174.0,clean,other,hatchback,wy
426878,426878,wyoming,2018.0,lexus,es 350 sedan 4d,gas,30112.0,clean,other,sedan,wy
426879,426879,wyoming,2019.0,bmw,4 series 430i gran coupe,gas,22716.0,clean,other,coupe,wy