In [ ]:
#kaggle code to load the dataset
#import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#df=pd.read_csv('/kaggle/input/mobiles-dataset-2025/Mobiles Dataset (2025).csv',encoding='ISO-8859-1')
#df.head()

In [1]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df=pd.read_csv('../datasets/mobiles-dataset-2025/Mobiles Dataset (2025).csv',encoding='ISO-8859-1')
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [2]:
#Baseline score

launched_price_india = df['Launched Price (India)'].map(lambda price: price.split(' ')[1])
launched_price_india.sort_values()
df['Launched Price (India)'].sort_values()

148    INR 1,04,999
170    INR 1,09,999
166    INR 1,14,999
788      INR 10,499
780      INR 10,499
           ...
366      INR 99,999
164      INR 99,999
167      INR 99,999
18       INR 99,999
641      INR 99,999
Name: Launched Price (India), Length: 930, dtype: object

In [3]:
df['Launched Price (Pakistan)'].sort_values()

929    Not available
173      PKR 100,000
233      PKR 104,999
134      PKR 105,000
215      PKR 109,999
           ...
401       PKR 99,999
405       PKR 99,999
906       PKR 99,999
355       PKR 99,999
588       PKR 99,999
Name: Launched Price (Pakistan), Length: 930, dtype: object

In [4]:
df['Launched Price (China)'].sort_values()

495    CNY 1,050
779    CNY 1,099
262    CNY 1,099
842    CNY 1,099
418    CNY 1,099
         ...
722      CNY 999
886      CNY 999
667      CNY 999
793      CNY 999
927      ¥13,999
Name: Launched Price (China), Length: 930, dtype: object

In [5]:
df['Launched Price (USA)'].sort_values()

17     USD 1,049
742    USD 1,049
29     USD 1,049
7      USD 1,049
66     USD 1,099
         ...
568      USD 999
28       USD 999
282      USD 999
524      USD 999
376      USD 999
Name: Launched Price (USA), Length: 930, dtype: object

In [6]:
df['Launched Price (Dubai)'].sort_values()

421    AED 1,000
590    AED 1,000
425    AED 1,000
451    AED 1,000
441    AED 1,000
         ...
403      AED 999
900      AED 999
317      AED 999
307      AED 999
717      AED 999
Name: Launched Price (Dubai), Length: 930, dtype: object

In [7]:
float('13.999')

13.999

In [8]:
float("1.04.999")

ValueError: could not convert string to float: '1.04.999'

In [9]:
df['Launched Price (India)'].sort_values().unique()

array(['INR 1,04,999', 'INR 1,09,999', 'INR 1,14,999', 'INR 10,499',
       'INR 10,990', 'INR 10,999', 'INR 104,900', 'INR 104,999',
       'INR 109,900', 'INR 109,999', 'INR 11,499', 'INR 11,990',
       'INR 11,999', 'INR 114,900', 'INR 114,999', 'INR 119,900',
       'INR 119,999', 'INR 12,499', 'INR 12,999', 'INR 124,999',
       'INR 129,900', 'INR 129,999', 'INR 13,490', 'INR 13,499',
       'INR 13,990', 'INR 13,999', 'INR 134,900', 'INR 134,999',
       'INR 139,900', 'INR 139,999', 'INR 14,990', 'INR 14,999',
       'INR 144,999', 'INR 149,900', 'INR 149,999', 'INR 15,999',
       'INR 154,900', 'INR 159,900', 'INR 159,999', 'INR 16,990',
       'INR 16,999', 'INR 164,999', 'INR 169,999', 'INR 17,499',
       'INR 17,999', 'INR 174,900', 'INR 176,999', 'INR 179,900',
       'INR 179,999', 'INR 18,000', 'INR 18,499', 'INR 18,990',
       'INR 18,999', 'INR 19,000', 'INR 19,499', 'INR 19,990',
       'INR 19,999', 'INR 199,900', 'INR 199,999', 'INR 20,000',
       'INR 20,999', 'INR 200,999', 'INR 21,400', 'INR 21,990',
       'INR 21,999', 'INR 22,990', 'INR 22,999', 'INR 23,999',
       'INR 24,990', 'INR 24,999', 'INR 249,999', 'INR 25,999',
       'INR 259,999', 'INR 26,990', 'INR 26,999', 'INR 27,990',
       'INR 27,999', 'INR 274,999', 'INR 28,756', 'INR 28,999',
       'INR 29,900', 'INR 29,999', 'INR 30,999', 'INR 31,990',
       'INR 31,999', 'INR 32,990', 'INR 32,999', 'INR 33,990',
       'INR 33,999', 'INR 34,999', 'INR 35,990', 'INR 35,999',
       'INR 36,999', 'INR 37,999', 'INR 38,999', 'INR 39,900',
       'INR 39,990', 'INR 39,999', 'INR 41,999', 'INR 42,999',
       'INR 43,999', 'INR 44,999', 'INR 45,999', 'INR 46,999',
       'INR 47,999', 'INR 49,900', 'INR 49,990', 'INR 49,999',
       'INR 5,999', 'INR 50,999', 'INR 52,999', 'INR 53,999',
       'INR 54,900', 'INR 54,999', 'INR 58,590', 'INR 58,999',
       'INR 59,999', 'INR 6,999', 'INR 64,900', 'INR 64,999',
       'INR 65,999', 'INR 67,999', 'INR 69,900', 'INR 69,999',
       'INR 7,499', 'INR 7,999', 'INR 71,900', 'INR 72,999', 'INR 74,900',
       'INR 74,999', 'INR 77,999', 'INR 79,900', 'INR 79,999',
       'INR 8,499', 'INR 8,999', 'INR 84,900', 'INR 84,999', 'INR 85,999',
       'INR 89,900', 'INR 89,999', 'INR 9,499', 'INR 9,990', 'INR 9,999',
       'INR 94,900', 'INR 94,999', 'INR 99,900', 'INR 99,999'],
      dtype=object)

In [10]:
df['Launched Price (Pakistan)'].sort_values().unique()

array(['Not available', 'PKR 100,000', 'PKR 104,999', 'PKR 105,000',
       'PKR 109,999', 'PKR 119,999', 'PKR 120,000', 'PKR 124,999',
       'PKR 129,999', 'PKR 134,999', 'PKR 139,999', 'PKR 140,000',
       'PKR 149,999', 'PKR 15,999', 'PKR 150,000', 'PKR 159,999',
       'PKR 160,000', 'PKR 161,500', 'PKR 164,999', 'PKR 169,999',
       'PKR 170,000', 'PKR 174,999', 'PKR 179,999', 'PKR 18,499',
       'PKR 18,999', 'PKR 180,000', 'PKR 184,999', 'PKR 189,999',
       'PKR 19,999', 'PKR 194,999', 'PKR 197,000', 'PKR 199,999',
       'PKR 200,000', 'PKR 204,999', 'PKR 209,999', 'PKR 21,999',
       'PKR 214,999', 'PKR 219,999', 'PKR 22,499', 'PKR 22,999',
       'PKR 224,999', 'PKR 229,999', 'PKR 23,999', 'PKR 230,000',
       'PKR 234,999', 'PKR 239,999', 'PKR 24,999', 'PKR 244,999',
       'PKR 249,999', 'PKR 25,000', 'PKR 25,999', 'PKR 250,000',
       'PKR 259,999', 'PKR 26,999', 'PKR 260,000', 'PKR 264,999',
       'PKR 269,999', 'PKR 27,999', 'PKR 274,999', 'PKR 279,999',
       'PKR 28,000', 'PKR 28,999', 'PKR 280,000', 'PKR 284,999',
       'PKR 289,999', 'PKR 29,999', 'PKR 294,999', 'PKR 299,999',
       'PKR 30,999', 'PKR 300,000', 'PKR 304,999', 'PKR 309,999',
       'PKR 31,999', 'PKR 314,999', 'PKR 319,999', 'PKR 32,999',
       'PKR 320,000', 'PKR 324,999', 'PKR 330,000', 'PKR 334,999',
       'PKR 339,999', 'PKR 34,999', 'PKR 344,999', 'PKR 349,999',
       'PKR 35,000', 'PKR 35,999', 'PKR 350,000', 'PKR 354,999',
       'PKR 359,999', 'PKR 36,999', 'PKR 360,000', 'PKR 364,999',
       'PKR 369,999', 'PKR 37,999', 'PKR 38,999', 'PKR 380,000',
       'PKR 384,999', 'PKR 389,999', 'PKR 39,999', 'PKR 390,000',
       'PKR 399,999', 'PKR 40,000', 'PKR 400,000', 'PKR 41,999',
       'PKR 42,999', 'PKR 420,000', 'PKR 429,999', 'PKR 430,000',
       'PKR 44,999', 'PKR 449,999', 'PKR 45,000', 'PKR 45,999',
       'PKR 450,000', 'PKR 46,999', 'PKR 460,000', 'PKR 469,999',
       'PKR 47,999', 'PKR 48,999', 'PKR 480,000', 'PKR 49,999',
       'PKR 50,000', 'PKR 500,000', 'PKR 52,000', 'PKR 52,999',
       'PKR 530,000', 'PKR 54,999', 'PKR 544,999', 'PKR 55,000',
       'PKR 55,999', 'PKR 550,000', 'PKR 56,999', 'PKR 57,999',
       'PKR 58,999', 'PKR 59,999', 'PKR 60,000', 'PKR 604,999',
       'PKR 61,999', 'PKR 62,999', 'PKR 64,999', 'PKR 65,000',
       'PKR 66,220', 'PKR 68,000', 'PKR 69,999', 'PKR 70,000',
       'PKR 71,220', 'PKR 72,999', 'PKR 74,999', 'PKR 75,000',
       'PKR 79,999', 'PKR 80,000', 'PKR 84,999', 'PKR 85,000',
       'PKR 85,999', 'PKR 89,999', 'PKR 94,999', 'PKR 95,000',
       'PKR 99,999'], dtype=object)

In [11]:
df['Launched Price (China)'].sort_values().unique()

array(['CNY 1,050', 'CNY 1,099', 'CNY 1,100', 'CNY 1,199', 'CNY 1,200',
       'CNY 1,250', 'CNY 1,299', 'CNY 1,300', 'CNY 1,350', 'CNY 1,399',
       'CNY 1,400', 'CNY 1,499', 'CNY 1,500', 'CNY 1,550', 'CNY 1,599',
       'CNY 1,600', 'CNY 1,699', 'CNY 1,700', 'CNY 1,799', 'CNY 1,800',
       'CNY 1,899', 'CNY 1,900', 'CNY 1,998', 'CNY 1,999', 'CNY 10,088',
       'CNY 10,388', 'CNY 10,399', 'CNY 10,688', 'CNY 10,999',
       'CNY 11,199', 'CNY 11,288', 'CNY 11,999', 'CNY 12,999',
       'CNY 13,499', 'CNY 13,999', 'CNY 14,499', 'CNY 14,999',
       'CNY 15,999', 'CNY 17,999', 'CNY 17,999\xa0', 'CNY 2,000',
       'CNY 2,099', 'CNY 2,100', 'CNY 2,199', 'CNY 2,200', 'CNY 2,299',
       'CNY 2,300', 'CNY 2,399', 'CNY 2,400', 'CNY 2,499', 'CNY 2,500',
       'CNY 2,599', 'CNY 2,600', 'CNY 2,699', 'CNY 2,700', 'CNY 2,799',
       'CNY 2,800', 'CNY 2,899', 'CNY 2,900', 'CNY 2,999', 'CNY 3,000',
       'CNY 3,099', 'CNY 3,199', 'CNY 3,200', 'CNY 3,299', 'CNY 3,399',
       'CNY 3,400', 'CNY 3,499', 'CNY 3,599', 'CNY 3,600', 'CNY 3,699',
       'CNY 3,799', 'CNY 3,899', 'CNY 3,999', 'CNY 4,088', 'CNY 4,199',
       'CNY 4,299', 'CNY 4,488', 'CNY 4,499', 'CNY 4,599', 'CNY 4,699',
       'CNY 4,799', 'CNY 4,999', 'CNY 499', 'CNY 5,199', 'CNY 5,299',
       'CNY 5,499', 'CNY 5,599', 'CNY 5,699', 'CNY 5,799', 'CNY 5,899',
       'CNY 5,988', 'CNY 5,999', 'CNY 549', 'CNY 599', 'CNY 6,099',
       'CNY 6,199', 'CNY 6,299', 'CNY 6,399', 'CNY 6,499', 'CNY 6,599',
       'CNY 6,799', 'CNY 6,988', 'CNY 6,999', 'CNY 699', 'CNY 7,099',
       'CNY 7,199', 'CNY 7,299', 'CNY 7,399', 'CNY 7,499', 'CNY 7,699',
       'CNY 7,799', 'CNY 7,988', 'CNY 7,999', 'CNY 799', 'CNY 8,099',
       'CNY 8,199', 'CNY 8,299', 'CNY 8,388', 'CNY 8,399', 'CNY 8,499',
       'CNY 8,699', 'CNY 8,788', 'CNY 8,799', 'CNY 8,988', 'CNY 8,999',
       'CNY 899', 'CNY 9,188', 'CNY 9,199', 'CNY 9,499', 'CNY 9,788',
       'CNY 9,799', 'CNY 9,988', 'CNY 9,999', 'CNY 900', 'CNY 999',
       '¥13,999'], dtype=object)

In [12]:
df['Launched Price (USA)'].sort_values().unique()

array(['USD 1,049', 'USD 1,099', 'USD 1,199', 'USD 1,249', 'USD 1,299',
       'USD 1,399', 'USD 1,499', 'USD 1,599', 'USD 1,699', 'USD 1,799',
       'USD 1,899', 'USD 109', 'USD 119', 'USD 129', 'USD 130', 'USD 139',
       'USD 149', 'USD 150', 'USD 159', 'USD 160', 'USD 169', 'USD 170',
       'USD 1719', 'USD 179', 'USD 180', 'USD 189', 'USD 190', 'USD 199',
       'USD 199.00', 'USD 2,259', 'USD 2,499', 'USD 2,599', 'USD 2,699',
       'USD 2,799', 'USD 200', 'USD 210', 'USD 219', 'USD 220', 'USD 229',
       'USD 229.00', 'USD 230', 'USD 239', 'USD 240', 'USD 249',
       'USD 249.00', 'USD 250', 'USD 259', 'USD 260', 'USD 269',
       'USD 270', 'USD 279', 'USD 279.00', 'USD 280', 'USD 289',
       'USD 290', 'USD 299', 'USD 299.00', 'USD 300', 'USD 309.00',
       'USD 310', 'USD 319', 'USD 320', 'USD 329', 'USD 329.00',
       'USD 330', 'USD 340', 'USD 349', 'USD 349.00', 'USD 350',
       'USD 360', 'USD 370', 'USD 374.90', 'USD 379', 'USD 379.00',
       'USD 380', 'USD 396,22', 'USD 399', 'USD 399.00', 'USD 400',
       'USD 420', 'USD 429', 'USD 429.00', 'USD 440', 'USD 449',
       'USD 450', 'USD 470', 'USD 479', 'USD 499', 'USD 500', 'USD 529',
       'USD 549', 'USD 599', 'USD 634.99', 'USD 649', 'USD 699',
       'USD 729', 'USD 749', 'USD 79', 'USD 790.77', 'USD 799', 'USD 849',
       'USD 877', 'USD 89', 'USD 899', 'USD 949', 'USD 99', 'USD 999'],
      dtype=object)

In [13]:
df['Launched Price (Dubai)'].sort_values().unique()

array(['AED 1,000', 'AED 1,020', 'AED 1,029', 'AED 1,030', 'AED 1,049',
       'AED 1,050', 'AED 1,070', 'AED 1,099', 'AED 1,100', 'AED 1,140',
       'AED 1,149', 'AED 1,150', 'AED 1,175', 'AED 1,199', 'AED 1,200',
       'AED 1,210', 'AED 1,249', 'AED 1,250', 'AED 1,275', 'AED 1,280',
       'AED 1,299', 'AED 1,300', 'AED 1,320', 'AED 1,330', 'AED 1,350',
       'AED 1,390', 'AED 1,399', 'AED 1,400', 'AED 1,460', 'AED 1,499',
       'AED 1,500', 'AED 1,520', 'AED 1,599', 'AED 1,620', 'AED 1,649',
       'AED 1,675', 'AED 1,699', 'AED 1,700', 'AED 1,725', 'AED 1,799',
       'AED 1,800', 'AED 1,840', 'AED 1,850', 'AED 1,899', 'AED 1,999',
       'AED 10,499', 'AED 11,099', 'AED 2,049', 'AED 2,099', 'AED 2,199',
       'AED 2,299', 'AED 2,399', 'AED 2,499', 'AED 2,599', 'AED 2,699',
       'AED 2,799', 'AED 2,899', 'AED 2,999', 'AED 299', 'AED 3,099',
       'AED 3,199', 'AED 3,299', 'AED 3,399', 'AED 3,499', 'AED 3,599',
       'AED 3,699', 'AED 3,799', 'AED 3,899', 'AED 3,999', 'AED 349',
       'AED 399', 'AED 4,099', 'AED 4,199', 'AED 4,299', 'AED 4,399',
       'AED 4,499', 'AED 4,599', 'AED 4,699', 'AED 4,799', 'AED 4,899',
       'AED 4,999', 'AED 449', 'AED 499', 'AED 5,099', 'AED 5,199',
       'AED 5,299', 'AED 5,499', 'AED 5,799', 'AED 5,999', 'AED 500',
       'AED 549', 'AED 550', 'AED 580', 'AED 599', 'AED 6,099',
       'AED 6,199', 'AED 6,499', 'AED 6,599', 'AED 6,999', 'AED 600',
       'AED 619', 'AED 620', 'AED 629', 'AED 649', 'AED 650', 'AED 660',
       'AED 680', 'AED 699', 'AED 7,099', 'AED 7,199', 'AED 7,499',
       'AED 7,699', 'AED 700', 'AED 720', 'AED 730', 'AED 740', 'AED 749',
       'AED 750', 'AED 770', 'AED 780', 'AED 799', 'AED 8,699',
       'AED 8,999', 'AED 800', 'AED 820', 'AED 830', 'AED 849', 'AED 850',
       'AED 860', 'AED 870', 'AED 880', 'AED 899', 'AED 9,999', 'AED 900',
       'AED 920', 'AED 925', 'AED 949', 'AED 950', 'AED 960', 'AED 970',
       'AED 999'], dtype=object)