In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_data_set = pd.read_csv('../../../datasets/vehicles.csv')
vehicles_data_set

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [2]:
vehicles_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [3]:
y = vehicles_data_set['price']
X = vehicles_data_set.copy()
X.drop(columns=['price'], inplace=True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    random_state=42,
    train_size=0.6
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    random_state=42,
    train_size=0.5
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 25), (256128,), (85376, 25), (85376,), (85376, 25), (85376,))

In [4]:
X_train.describe()

,id,year,odometer,county,lat,long
count,2.561280e+05,255382.000000,2.534550e+05,0.0,252262.000000,252262.000000
mean,7.311483e+09,2011.218575,9.774669e+04,NaN,38.498559,-94.750226
std,4.472602e+06,9.499753,2.076887e+05,NaN,5.847960,18.411036
min,7.207408e+09,1900.000000,0.000000e+00,NaN,-81.838232,-159.719900
25%,7.308141e+09,2008.000000,3.772400e+04,NaN,34.605818,-111.940169
50%,7.312601e+09,2013.000000,8.566200e+04,NaN,39.155657,-88.405885
75%,7.315251e+09,2017.000000,1.337470e+05,NaN,42.417300,-80.830000
max,7.317101e+09,2022.000000,1.000000e+07,NaN,82.252826,173.885502

In [5]:
X_train['county'].isna()

43819     True
93278     True
55874     True
223672    True
118338    True
          ...
259178    True
365838    True
131932    True
146867    True
121958    True
Name: county, Length: 256128, dtype: bool

In [6]:
X_train.drop(columns=[
    'county', 
    'id', 
    'region_url', 
    'description', 
    'image_url', 
    'url',
    'lat',
    'long',
    'VIN',
    'posting_date',
    'state'
], inplace=True, errors='ignore')
X_train.columns

Index(['region', 'year', 'manufacturer', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'size',
       'type', 'paint_color'],
      dtype='object')

In [7]:
for col in X_train.columns:
    print(col, len(X_train[col].unique()))
    print(X_train[col].value_counts(dropna=False))

region 404
region
columbus               2165
jacksonville           2137
atlanta                1845
new hampshire          1845
orlando                1843
                       ...
northeast SD             19
fort smith, AR            7
kansas city               6
southwest MS              6
west virginia (old)       5
Name: count, Length: 404, dtype: int64
year 112
year
2018.0    21799
2017.0    21747
2015.0    19016
2013.0    18486
2016.0    18367
          ...
1920.0        1
1913.0        1
1918.0        1
1901.0        1
1943.0        1
Name: count, Length: 112, dtype: int64
manufacturer 43
manufacturer
ford               42587
chevrolet          33119
toyota             20426
honda              12784
jeep               11603
nissan             11405
ram                10902
NaN                10624
gmc                 9975
bmw                 8756
dodge               8255
mercedes-benz       7066
hyundai             6149
subaru              5702
volkswagen          5598
kia                 5097
lexus               4911
audi                4630
cadillac            4172
chrysler            3560
acura               3547
buick               3290
mazda               3281
infiniti            2911
lincoln             2509
volvo               2069
mitsubishi          1968
mini                1416
pontiac             1384
rover               1284
jaguar              1217
porsche              848
mercury              697
saturn               645
alfa-romeo           535
tesla                501
fiat                 488
harley-davidson       93
ferrari               55
datsun                36
aston-martin          16
land rover            15
morgan                 2
Name: count, dtype: int64
model 22687
model
f-150                  4676
NaN                    3186
silverado 1500         3110
1500                   2477
camry                  1912
                       ...
F150 STEPSIDE             1
accorx                    1
c7500 7h2                 1
3500 crew cab 4wd         1
f250 super duty stx       1
Name: count, Length: 22687, dtype: int64
condition 7
condition
NaN          104714
good          72773
excellent     60768
like new      12768
fair           4010
new             744
salvage         351
Name: count, dtype: int64
cylinders 9
cylinders
NaN             106651
6 cylinders      56456
4 cylinders      46792
8 cylinders      43012
5 cylinders       1025
10 cylinders       890
other              796
3 cylinders        384
12 cylinders       122
Name: count, dtype: int64
fuel 6
fuel
gas         213806
other        18463
diesel       18049
hybrid        3040
NaN           1758
electric      1012
Name: count, dtype: int64
odometer 80522
odometer
NaN         2673
100000.0    1355
1.0         1345
0.0         1174
200000.0    1052
            ...
31654.0        1
10227.0        1
128305.0       1
40777.0        1
218666.0       1
Name: count, Length: 80522, dtype: int64
title_status 7
title_status
clean         243152
NaN             4927
rebuilt         4285
salvage         2323
lien             850
missing          474
parts only       117
Name: count, dtype: int64
transmission 4
transmission
automatic    202026
other         37407
manual        15170
NaN            1525
Name: count, dtype: int64
drive 4
drive
4wd    79076
NaN    78382
fwd    63473
rwd    35197
Name: count, dtype: int64
size 5
size
NaN            183687
full-size       38091
mid-size        20776
compact         11637
sub-compact      1937
Name: count, dtype: int64
type 14
type
NaN            55877
sedan          52095
SUV            46492
pickup         25927
truck          21042
other          13253
coupe          11570
hatchback       9971
wagon           6449
van             5134
convertible     4701
mini-van        2921
offroad          378
bus              318
Name: count, dtype: int64
paint_color 13
paint_color
NaN       78310
white     47629
black     37695
silver    25725
blue      18697
red       18258
grey      14562
green      4360
custom     4018
brown      3993
yellow     1300
orange     1186
purple      395
Name: count, dtype: int64