In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_dataset = pd.read_csv('/home/jovyan/work/datasets/vehicles_cleaned.csv')
vehicles_dataset.tail()

,region,year,manufacturer,model,fuel,odometer,title_status,transmission,type,state
426875,wyoming,2019.0,nissan,maxima s sedan 4d,gas,32226.0,clean,other,sedan,wy
426876,wyoming,2020.0,volvo,s60 t5 momentum sedan 4d,gas,12029.0,clean,other,sedan,wy
426877,wyoming,2020.0,cadillac,xt4 sport suv 4d,diesel,4174.0,clean,other,hatchback,wy
426878,wyoming,2018.0,lexus,es 350 sedan 4d,gas,30112.0,clean,other,sedan,wy
426879,wyoming,2019.0,bmw,4 series 430i gran coupe,gas,22716.0,clean,other,coupe,wy