In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

diabetes_data_set = pd.read_csv('../../../datasets/Diabetes_and_LifeStyle_Dataset.csv')
diabetes_data_set

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,52,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97292,46,Male,Other,Graduate,Upper-Middle,Unemployed,Former,1,136,8.3,...,45,150,116,113,109,14.58,5.55,26.0,Pre-Diabetes,0
97293,41,Female,White,Graduate,Middle,Employed,Never,3,76,8.8,...,55,123,146,96,146,9.02,5.97,24.4,Pre-Diabetes,0
97294,57,Female,Black,No formal,Upper-Middle,Employed,Former,4,121,9.9,...,50,111,184,93,132,2.57,5.21,27.6,No Diabetes,0
97295,47,Female,Black,Highschool,Lower-Middle,Retired,Never,3,52,5.9,...,68,91,116,106,117,9.81,5.53,26.4,Pre-Diabetes,0
97296,52,Female,White,Postgraduate,Middle,Employed,Never,1,248,2.7,...,31,183,87,91,142,15.93,5.73,27.9,Pre-Diabetes,0

In [2]:
y = diabetes_data_set['diagnosed_diabetes']
X = diabetes_data_set.copy()
X.drop(columns = ['diagnosed_diabetes'], inplace=True)
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.4,
    random_state=42
)
X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)
diabetes_data_set_train = pd.concat([X_train, y_train], axis=1)
diabetes_data_set_train

,Age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
1114,52,Male,White,Graduate,Middle,Employed,Current,4,117,7.4,...,53,127,30,105,157,12.15,6.58,24.4,Type 2,1
36685,66,Female,White,Graduate,Lower-Middle,Retired,Never,0,114,6.6,...,59,81,126,100,165,6.94,6.68,28.7,Type 2,1
35104,25,Male,Black,Highschool,Low,Employed,Never,3,4,6.2,...,56,100,133,122,142,14.93,6.39,24.0,Pre-Diabetes,0
4905,44,Female,White,Highschool,Middle,Employed,Never,2,44,5.5,...,55,54,94,128,168,15.65,7.21,45.0,Type 2,1
20393,51,Male,White,Postgraduate,Middle,Employed,Never,3,182,4.1,...,57,80,112,104,137,6.19,6.37,23.8,Pre-Diabetes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,59,Male,White,No formal,High,Employed,Current,4,216,6.6,...,42,151,126,115,183,13.89,7.50,28.5,Type 2,1
54886,43,Male,Black,Graduate,Lower-Middle,Employed,Former,4,146,9.2,...,46,120,54,103,187,2.00,7.14,20.2,Type 2,1
76820,65,Male,White,Postgraduate,Middle,Employed,Never,6,40,8.7,...,50,175,165,111,140,12.16,5.99,30.8,Type 2,1
860,69,Female,Asian,Highschool,Middle,Employed,Former,1,100,6.8,...,51,113,129,142,183,2.00,7.08,29.2,Type 2,1
15795,68,Male,White,Graduate,Lower-Middle,Employed,Current,0,65,2.7,...,47,111,122,114,178,6.18,6.37,36.1,Pre-Diabetes,0

In [3]:
print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(58378, 30)
(19459, 30)
(19460, 30)

In [4]:
diabetes_data_set_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58378 entries, 1114 to 15795
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 58378 non-null  int64
 1   gender                              58378 non-null  object
 2   ethnicity                           58378 non-null  object
 3   education_level                     58378 non-null  object
 4   income_level                        58378 non-null  object
 5   employment_status                   58378 non-null  object
 6   smoking_status                      58378 non-null  object
 7   alcohol_consumption_per_week        58378 non-null  int64
 8   physical_activity_minutes_per_week  58378 non-null  int64
 9   diet_score                          58378 non-null  float64
 10  sleep_hours_per_day                 58378 non-null  float64
 11  screen_time_hours_per_day           58378 non-null  float64
 12  family_history_diabetes             58378 non-null  int64
 13  hypertension_history                58378 non-null  int64
 14  cardiovascular_history              58378 non-null  int64
 15  bmi                                 58378 non-null  float64
 16  waist_to_hip_ratio                  58378 non-null  float64
 17  systolic_bp                         58378 non-null  int64
 18  diastolic_bp                        58378 non-null  int64
 19  heart_rate                          58378 non-null  int64
 20  cholesterol_total                   58378 non-null  int64
 21  hdl_cholesterol                     58378 non-null  int64
 22  ldl_cholesterol                     58378 non-null  int64
 23  triglycerides                       58378 non-null  int64
 24  glucose_fasting                     58378 non-null  int64
 25  glucose_postprandial                58378 non-null  int64
 26  insulin_level                       58378 non-null  float64
 27  hba1c                               58378 non-null  float64
 28  diabetes_risk_score                 58378 non-null  float64
 29  diabetes_stage                      58378 non-null  object
 30  diagnosed_diabetes                  58378 non-null  int64
dtypes: float64(8), int64(16), object(7)
memory usage: 14.3+ MB

In [5]:
diabetes_data_set_train.describe()

,Age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,...,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diagnosed_diabetes
count,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,...,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000,58378.000000
mean,50.264175,2.004625,118.741290,5.991197,6.999282,5.989648,0.220220,0.251430,0.079139,25.621049,...,185.998201,54.034568,103.037840,121.571722,111.140190,160.053496,9.057076,6.521258,30.263044,0.599746
std,15.552249,1.420672,84.577371,1.785515,1.091744,2.468475,0.414398,0.433839,0.269959,3.579790,...,32.001383,10.272864,33.340917,43.330990,13.596805,30.927799,4.948079,0.814883,9.084864,0.489954
min,19.000000,0.000000,0.000000,0.000000,3.000000,0.500000,0.000000,0.000000,0.000000,15.000000,...,100.000000,20.000000,50.000000,30.000000,60.000000,70.000000,2.000000,4.000000,2.700000,0.000000
25%,38.000000,1.000000,56.000000,4.800000,6.300000,4.300000,0.000000,0.000000,0.000000,23.200000,...,164.000000,47.000000,78.000000,92.000000,102.000000,139.000000,5.090000,5.970000,23.800000,0.000000
50%,51.000000,2.000000,99.000000,6.000000,7.000000,6.000000,0.000000,0.000000,0.000000,25.600000,...,186.000000,54.000000,102.000000,121.000000,111.000000,160.000000,8.800000,6.520000,29.000000,1.000000
75%,61.000000,3.000000,160.000000,7.200000,7.700000,7.700000,0.000000,1.000000,0.000000,28.000000,...,208.000000,61.000000,126.000000,151.000000,120.000000,181.000000,12.440000,7.070000,35.700000,1.000000
max,90.000000,10.000000,833.000000,10.000000,10.000000,16.500000,1.000000,1.000000,1.000000,39.200000,...,318.000000,98.000000,247.000000,298.000000,172.000000,281.000000,30.760000,9.700000,66.100000,1.000000

In [6]:
numeric_cols = [col for col in diabetes_data_set_train.columns 
 if diabetes_data_set_train[col].dtype in ['int64', 'float64']]
numeric_cols

['Age',
 'alcohol_consumption_per_week',
 'physical_activity_minutes_per_week',
 'diet_score',
 'sleep_hours_per_day',
 'screen_time_hours_per_day',
 'family_history_diabetes',
 'hypertension_history',
 'cardiovascular_history',
 'bmi',
 'waist_to_hip_ratio',
 'systolic_bp',
 'diastolic_bp',
 'heart_rate',
 'cholesterol_total',
 'hdl_cholesterol',
 'ldl_cholesterol',
 'triglycerides',
 'glucose_fasting',
 'glucose_postprandial',
 'insulin_level',
 'hba1c',
 'diabetes_risk_score',
 'diagnosed_diabetes']

In [7]:
numeric_high_std_cols = [col for col in diabetes_data_set_train.columns
                        if diabetes_data_set_train[col].dtype in ['int64', 'float64'] 
                         and diabetes_data_set_train[col].std() > 1]
numeric_high_std_cols

['Age',
 'alcohol_consumption_per_week',
 'physical_activity_minutes_per_week',
 'diet_score',
 'sleep_hours_per_day',
 'screen_time_hours_per_day',
 'bmi',
 'systolic_bp',
 'diastolic_bp',
 'heart_rate',
 'cholesterol_total',
 'hdl_cholesterol',
 'ldl_cholesterol',
 'triglycerides',
 'glucose_fasting',
 'glucose_postprandial',
 'insulin_level',
 'diabetes_risk_score']

In [8]:
diabetes_data_set_train[numeric_high_std_cols].describe()
print(len(numeric_high_std_cols))

18

In [9]:
print(len(numeric_cols))

24

In [10]:
diabetes_data_set_train[[col for col in diabetes_data_set_train.columns 
if diabetes_data_set_train[col].dtype == 'object']].value_counts()

gender  ethnicity  education_level  income_level  employment_status  smoking_status  diabetes_stage
Female  White      Highschool       Middle        Employed           Never           Type 2            445
Male    White      Highschool       Middle        Employed           Never           Type 2            433
Female  White      Graduate         Middle        Employed           Never           Type 2            345
Male    White      Graduate         Middle        Employed           Never           Type 2            339
                   Highschool       Lower-Middle  Employed           Never           Type 2            338
                                                                                                      ...
Female  Other      Highschool       Lower-Middle  Student            Current         Type 2              1
Male    Other      Postgraduate     Middle        Employed           Former          No Diabetes         1
Female  Black      No formal        Low           Retired            Current         Type 2              1
Male    Black      Graduate         Upper-Middle  Student            Former          Type 2              1
Other   White      Postgraduate     Upper-Middle  Unemployed         Never           Type 2              1
Name: count, Length: 5781, dtype: int64

In [11]:
cat_col_low_card = [col for col in diabetes_data_set_train.columns
                   if diabetes_data_set_train[col].dtype == 'object'
                   and len(diabetes_data_set_train[col].unique()) < 4]
cat_col_low_card

['gender', 'smoking_status']

In [12]:
cat_col_high_card = [col for col in diabetes_data_set_train.columns
                   if diabetes_data_set_train[col].dtype == 'object'
                   and len(diabetes_data_set_train[col].unique()) >= 4]
cat_col_high_card

['ethnicity',
 'education_level',
 'income_level',
 'employment_status',
 'diabetes_stage']

In [13]:
diabetes_data_set_train[cat_col_low_card].describe()

        gender smoking_status
count    58378          58378
unique       3              3
top     Female          Never
freq     29411          34845

In [14]:
diabetes_data_set_train['gender'].value_counts()

gender
Female    29411
Male      27782
Other      1185
Name: count, dtype: int64

In [15]:
diabetes_data_set_train['smoking_status'].value_counts()

smoking_status
Never      34845
Current    11787
Former     11746
Name: count, dtype: int64

In [16]:
#diabetes_stage column can contaminate the dataset
#migth it be used as multiple classification?
for col in cat_col_high_card:
    print(diabetes_data_set[col].value_counts())

ethnicity
White       43798
Hispanic    19552
Black       17504
Asian       11527
Other        4916
Name: count, dtype: int64
education_level
Highschool      43651
Graduate        34097
Postgraduate    14552
No formal        4997
Name: count, dtype: int64
income_level
Middle          34214
Lower-Middle    24467
Upper-Middle    19334
Low             14422
High             4860
Name: count, dtype: int64
employment_status
Employed      58579
Retired       21140
Unemployed    11600
Student        5978
Name: count, dtype: int64
diabetes_stage
Type 2          58163
Pre-Diabetes    31013
No Diabetes      7737
Gestational       267
Type 1            117
Name: count, dtype: int64

In [17]:
diabetes_data_set_train[0:10][['cholesterol_total', 'hdl_cholesterol', 'ldl_cholesterol', 'triglycerides']]

       cholesterol_total  hdl_cholesterol  ldl_cholesterol  triglycerides
1114                 198               53              127             30
36685                180               59               81            126
35104                190               56              100            133
4905                 151               55               54             94
20393                164               57               80            112
89061                161               54               71            118
24813                172               49              104             79
4391                 194               67              103            168
38879                205               44              130            166
37819                179               57               88            149

In [18]:
diabetes_data_set_train[0:10][['systolic_bp', 'diastolic_bp', 'heart_rate']]

       systolic_bp  diastolic_bp  heart_rate
1114           119            70          80
36685          130            76          75
35104          117            74          69
4905           105            87          75
20393          111            73          75
89061          108            68          75
24813          111            68          81
4391           137            87          68
38879          109            72          55
37819          104            69          72

In [20]:
diabetes_data_set_train[numeric_cols].corr()

,Age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,family_history_diabetes,hypertension_history,cardiovascular_history,bmi,...,cholesterol_total,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diagnosed_diabetes
Age,1.000000,-0.002548,0.005089,-0.003540,-0.005740,-0.007976,-0.002172,0.181953,0.149182,0.100694,...,0.310619,-0.013435,0.281778,0.038644,0.232289,0.131513,0.051989,0.158056,0.495965,0.137276
alcohol_consumption_per_week,-0.002548,1.000000,-0.001932,-0.000840,-0.001353,-0.000913,0.001383,-0.005833,-0.002205,-0.001924,...,0.001411,0.000906,-0.001685,0.127124,0.006405,0.001342,0.005515,0.003128,0.007997,0.001823
physical_activity_minutes_per_week,0.005089,-0.001932,1.000000,-0.002127,-0.005629,0.005734,-0.009744,0.001613,0.001702,-0.073767,...,-0.010117,0.020133,-0.015032,-0.026920,-0.164270,-0.091802,-0.038332,-0.111908,-0.348825,-0.102292
diet_score,-0.003540,-0.000840,-0.002127,1.000000,0.002801,0.002613,0.002428,0.003238,0.007817,-0.201077,...,-0.041060,0.043893,-0.049824,-0.080692,-0.071261,-0.043603,-0.082857,-0.053765,-0.143812,-0.044396
sleep_hours_per_day,-0.005740,-0.001353,-0.005629,0.002801,1.000000,0.003887,0.007547,0.007466,-0.001388,0.005848,...,-0.001958,-0.000883,-0.001343,-0.003103,0.001840,0.002995,0.002057,0.003069,0.005867,0.000363
screen_time_hours_per_day,-0.007976,-0.000913,0.005734,0.002613,0.003887,1.000000,-0.002360,-0.007519,-0.003274,-0.000143,...,0.003761,-0.005508,0.006189,-0.010002,0.034578,0.022421,0.003262,0.027491,0.068408,0.016374
family_history_diabetes,-0.002172,0.001383,-0.009744,0.002428,0.007547,-0.002360,1.000000,-0.001180,0.002080,-0.002159,...,-0.009529,-0.010331,-0.004010,-0.003044,0.344637,0.200889,0.013732,0.240536,0.732826,0.197564
hypertension_history,0.181953,-0.005833,0.001613,0.003238,0.007466,-0.007519,-0.001180,1.000000,0.028725,0.019764,...,0.050380,-0.004456,0.045172,0.013066,0.045242,0.033352,0.012907,0.034072,0.089686,0.028764
cardiovascular_history,0.149182,-0.002205,0.001702,0.007817,-0.001388,-0.003274,0.002080,0.028725,1.000000,0.013272,...,0.043168,-0.004557,0.038211,0.010309,0.037313,0.028586,0.011600,0.033203,0.074595,0.031493
bmi,0.100694,-0.001924,-0.073767,-0.201077,0.005848,-0.000143,-0.002159,0.019764,0.013272,1.000000,...,0.200097,-0.211091,0.237075,0.406812,0.156009,0.093759,0.391021,0.111957,0.315953,0.100859
waist_to_hip_ratio,0.072614,-0.001723,-0.053863,-0.154370,0.005772,-0.003019,0.003617,0.017788,0.004430,0.764026,...,0.148010,-0.161220,0.178467,0.311303,0.119091,0.073183,0.301673,0.087916,0.241994,0.081573
systolic_bp,0.548194,-0.007966,-0.005322,-0.042575,-0.007155,0.000613,-0.000780,0.104377,0.083649,0.249800,...,0.208406,-0.046127,0.198906,0.105596,0.157440,0.097991,0.103998,0.113979,0.324760,0.098889
diastolic_bp,0.197604,0.000840,-0.009072,-0.028085,-0.001638,0.000156,-0.001136,0.039608,0.028255,0.145561,...,0.088187,-0.026296,0.087217,0.055267,0.063924,0.037284,0.054820,0.045320,0.132200,0.037076
heart_rate,-0.001168,0.008209,-0.252337,0.003196,0.012218,-0.006351,0.007530,0.003560,0.002920,0.014099,...,-0.001381,-0.014490,0.004461,0.013973,0.048351,0.020047,0.003088,0.028278,0.091904,0.023693
cholesterol_total,0.310619,0.001411,-0.010117,-0.041060,-0.001958,0.003761,-0.009529,0.050380,0.043168,0.200097,...,1.000000,-0.043209,0.906198,0.084223,0.088997,0.055816,0.082093,0.064044,0.195149,0.055967
hdl_cholesterol,-0.013435,0.000906,0.020133,0.043893,-0.000883,-0.005508,-0.010331,-0.004456,-0.004557,-0.211091,...,-0.043209,1.000000,-0.324178,-0.082904,-0.078163,-0.049837,-0.081434,-0.059113,-0.176602,-0.051004
ldl_cholesterol,0.281778,-0.001685,-0.015032,-0.049824,-0.001343,0.006189,-0.004010,0.045172,0.038211,0.237075,...,0.906198,-0.324178,1.000000,0.097692,0.101522,0.062861,0.095667,0.072787,0.226463,0.063916
triglycerides,0.038644,0.127124,-0.026920,-0.080692,-0.003103,-0.010002,-0.003044,0.013066,0.010309,0.406812,...,0.084223,-0.082904,0.097692,1.000000,0.087139,0.055481,0.168061,0.064480,0.175039,0.055597
glucose_fasting,0.232289,0.006405,-0.164270,-0.071261,0.001840,0.034578,0.344637,0.045242,0.037313,0.156009,...,0.088997,-0.078163,0.101522,0.087139,1.000000,0.586736,0.106377,0.699558,0.471223,0.512048
glucose_postprandial,0.131513,0.001342,-0.091802,-0.043603,0.002995,0.022421,0.200889,0.033352,0.028586,0.093759,...,0.055816,-0.049837,0.062861,0.055481,0.586736,1.000000,0.064564,0.932801,0.273528,0.629112
insulin_level,0.051989,0.005515,-0.038332,-0.082857,0.002057,0.003262,0.013732,0.012907,0.011600,0.391021,...,0.082093,-0.081434,0.095667,0.168061,0.106377,0.064564,1.000000,0.076126,0.145051,0.064400
hba1c,0.158056,0.003128,-0.111908,-0.053765,0.003069,0.027491,0.240536,0.034072,0.033203,0.111957,...,0.064044,-0.059113,0.072787,0.064480,0.699558,0.932801,0.076126,1.000000,0.328285,0.681101
diabetes_risk_score,0.495965,0.007997,-0.348825,-0.143812,0.005867,0.068408,0.732826,0.089686,0.074595,0.315953,...,0.195149,-0.176602,0.226463,0.175039,0.471223,0.273528,0.145051,0.328285,1.000000,0.278107
diagnosed_diabetes,0.137276,0.001823,-0.102292,-0.044396,0.000363,0.016374,0.197564,0.028764,0.031493,0.100859,...,0.055967,-0.051004,0.063916,0.055597,0.512048,0.629112,0.064400,0.681101,0.278107,1.000000