In [20]:
import pandas as pd

bmw_sales_data = pd.read_csv('../../../datasets/BMW sales data (2010-2024).csv')

bmw_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [2]:
cat_cols = [col for col in bmw_sales_data.columns if bmw_sales_data[col].dtype == 'object']

In [3]:
bmw_sales_data[cat_cols].describe()

           Model Region  Color Fuel_Type Transmission Sales_Classification
count      50000  50000  50000     50000        50000                50000
unique        11      6      6         4            2                    2
top     7 Series   Asia    Red    Hybrid       Manual                  Low
freq        4666   8454   8463     12716        25154                34754

In [4]:
bmw_sales_data[cat_cols].value_counts()

Model     Region         Color   Fuel_Type  Transmission  Sales_Classification
7 Series  South America  Silver  Hybrid     Automatic     Low                     23
          Europe         Red     Electric   Manual        Low                     22
X1        Europe         Black   Petrol     Manual        Low                     22
M5        North America  Red     Hybrid     Manual        Low                     22
i3        Asia           Grey    Diesel     Automatic     Low                     22
                                                                                  ..
i8        Africa         White   Electric   Automatic     High                     1
X6        Europe         Silver  Hybrid     Automatic     High                     1
X3        Europe         Grey    Hybrid     Manual        High                     1
X5        South America  Grey    Hybrid     Automatic     High                     1
X6        Middle East    Blue    Petrol     Automatic     High                     1
Name: count, Length: 6311, dtype: int64

In [5]:
for cat_col in cat_cols:
    print(f'cat_col: {cat_col}')
    print(f'values: {bmw_sales_data[cat_col].unique()}')

cat_col: Model
values: ['5 Series' 'i8' 'X3' '7 Series' 'M5' '3 Series' 'X1' 'M3' 'X5' 'i3' 'X6']
cat_col: Region
values: ['Asia' 'North America' 'Middle East' 'South America' 'Europe' 'Africa']
cat_col: Color
values: ['Red' 'Blue' 'Black' 'Silver' 'White' 'Grey']
cat_col: Fuel_Type
values: ['Petrol' 'Hybrid' 'Diesel' 'Electric']
cat_col: Transmission
values: ['Manual' 'Automatic']
cat_col: Sales_Classification
values: ['High' 'Low']

In [6]:
bmw_sales_data['Transmission'] = bmw_sales_data['Transmission'].factorize()[0]

In [7]:
bmw_sales_data['Transmission']

0        0
1        1
2        1
3        1
4        0
        ..
49995    0
49996    0
49997    1
49998    1
49999    0
Name: Transmission, Length: 50000, dtype: int64

In [8]:
bmw_sales_data['Sales_Classification'] = bmw_sales_data['Sales_Classification'].factorize()[0]

In [9]:
bmw_sales_data['Sales_Classification']

0        0
1        1
2        1
3        1
4        1
        ..
49995    0
49996    0
49997    0
49998    0
49999    1
Name: Sales_Classification, Length: 50000, dtype: int64

In [19]:
cat_cols_low_cardinality = [col for col in bmw_sales_data.columns if bmw_sales_data[col].dtype == 'object'
                                and len(bmw_sales_data[col].unique()) <= 2]
cat_cols_low_cardinality

['Transmission', 'Sales_Classification']

In [22]:
for cat_col_low_cardinality in cat_cols_low_cardinality:
    bmw_sales_data[cat_col_low_cardinality] = bmw_sales_data[cat_col_low_cardinality].factorize()[0]
bmw_sales_data[cat_cols_low_cardinality]

       Transmission  Sales_Classification
0                 0                     0
1                 1                     1
2                 1                     1
3                 1                     1
4                 0                     1
...             ...                   ...
49995             0                     0
49996             0                     0
49997             1                     0
49998             1                     0
49999             0                     1

[50000 rows x 2 columns]