In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OrdinalEncoder, OneHotEncoder
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split

bmw_data_set = pd.read_csv('../../../datasets/BMW sales data (2010-2024).csv')
bmw_data_set

          Model  Year  ... Sales_Volume Sales_Classification
0      5 Series  2016  ...         8300                 High
1            i8  2013  ...         3428                  Low
2      5 Series  2022  ...         6994                  Low
3            X3  2024  ...         4047                  Low
4      7 Series  2020  ...         3080                  Low
...         ...   ...  ...          ...                  ...
49995        i3  2014  ...         8182                 High
49996        i3  2023  ...         9816                 High
49997  5 Series  2010  ...         8280                 High
49998        i3  2020  ...         9486                 High
49999        X1  2020  ...         1764                  Low

[50000 rows x 11 columns]

In [7]:
X = bmw_data_set
y = X['Price_USD']
y2 = X['Sales_Volume']
X.drop(columns=['Price_USD', 'Sales_Volume'], inplace=True)
X

          Model  Year  ... Mileage_KM Sales_Classification
0      5 Series  2016  ...     151748                 High
1            i8  2013  ...     121671                  Low
2      5 Series  2022  ...      10991                  Low
3            X3  2024  ...      27255                  Low
4      7 Series  2020  ...     122131                  Low
...         ...   ...  ...        ...                  ...
49995        i3  2014  ...     151030                 High
49996        i3  2023  ...     147396                 High
49997  5 Series  2010  ...     174939                 High
49998        i3  2020  ...       3379                 High
49999        X1  2020  ...     171003                  Low

[50000 rows x 9 columns]

In [15]:
X_train, X_test, y_train,, y_test = train_test_split(X, y, random_state=41, test_size=0.4)

In [16]:
X_test, y_test, X_val, y_val = train_test_split(X_test, y_test, random_state=41, test_size=0.5)

ValueError: Found input variables with inconsistent numbers of samples: [30000, 20000]