In [1]:
import pandas as pd

bmw_sales_data = pd.read_csv('../../../datasets/BMW sales data (2010-2024).csv')

bmw_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [2]:
cat_cols_low_cardinality = [col for col in bmw_sales_data.columns if bmw_sales_data[col].dtype == 'object'
                                and len(bmw_sales_data[col].unique()) <= 2]
cat_cols_low_cardinality

['Transmission', 'Sales_Classification']

In [3]:
for cat_col_low_cardinality in cat_cols_low_cardinality:
    bmw_sales_data[cat_col_low_cardinality] = bmw_sales_data[cat_col_low_cardinality].factorize()[0]
bmw_sales_data[cat_cols_low_cardinality]

       Transmission  Sales_Classification
0                 0                     0
1                 1                     1
2                 1                     1
3                 1                     1
4                 0                     1
...             ...                   ...
49995             0                     0
49996             0                     0
49997             1                     0
49998             1                     0
49999             0                     1

[50000 rows x 2 columns]

In [4]:
cat_cols_high_cardinality = [col for col in bmw_sales_data.columns if bmw_sales_data[col].dtype == 'object'
                            and len(bmw_sales_data[col].unique()) > 2]
cat_cols_high_cardinality

['Model', 'Region', 'Color', 'Fuel_Type']

In [5]:
bmw_sales_data = pd.get_dummies(data=bmw_sales_data, columns=cat_cols_high_cardinality, dtype=int)

In [6]:
bmw_sales_data

,Year,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Model_3 Series,Model_5 Series,Model_7 Series,...,Color_Black,Color_Blue,Color_Grey,Color_Red,Color_Silver,Color_White,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol
0,2016,0,3.5,151748,98740,8300,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,2013,1,1.6,121671,79219,3428,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2022,1,4.5,10991,113265,6994,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
3,2024,1,1.7,27255,60971,4047,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020,0,2.1,122131,49898,3080,1,0,0,1,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2014,0,4.6,151030,42932,8182,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
49996,2023,0,4.2,147396,48714,9816,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
49997,2010,1,4.5,174939,46126,8280,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
49998,2020,1,3.8,3379,58566,9486,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
49999,2020,0,3.3,171003,77492,1764,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0