In [1]:
import pandas as pd

bmw_data_set = pd.read_csv('../../../../datasets/BMW sales data (2010-2024).csv')
bmw_data_set

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [2]:
bmw_data_set.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

Leaving out Year because the years do not need to be scaled
Also leaving out Price_USD and Sales_Volume since they can be future targets to predict

In [3]:
bmw_data_set['Engine_Size_L'].describe()

count    50000.000000
mean         3.247180
std          1.009078
min          1.500000
25%          2.400000
50%          3.200000
75%          4.100000
max          5.000000
Name: Engine_Size_L, dtype: float64

In [4]:
bmw_data_set['Engine_Size_L']

0        3.5
1        1.6
2        4.5
3        1.7
4        2.1
        ...
49995    4.6
49996    4.2
49997    4.5
49998    3.8
49999    3.3
Name: Engine_Size_L, Length: 50000, dtype: float64

Also leaving out the Engine_Size_L since its variance it is not big and the values are pretty much similar

In [5]:
bmw_data_set['Mileage_KM'].describe()

count     50000.000000
mean     100307.203140
std       57941.509344
min           3.000000
25%       50178.000000
50%      100388.500000
75%      150630.250000
max      199996.000000
Name: Mileage_KM, dtype: float64

In [6]:
bmw_data_set['Mileage_KM']

0        151748
1        121671
2         10991
3         27255
4        122131
          ...
49995    151030
49996    147396
49997    174939
49998      3379
49999    171003
Name: Mileage_KM, Length: 50000, dtype: int64

### Min max scale

In [7]:
bmw_data_set['Mileage_KM_min_max_scale'] = (bmw_data_set['Mileage_KM'] - bmw_data_set['Mileage_KM'].min()) / (bmw_data_set['Mileage_KM'].max() - bmw_data_set['Mileage_KM'].min()) 
bmw_data_set['Mileage_KM_min_max_scale']

0        0.758752
1        0.608361
2        0.054942
3        0.136265
4        0.610661
           ...
49995    0.755161
49996    0.736991
49997    0.874711
49998    0.016881
49999    0.855030
Name: Mileage_KM_min_max_scale, Length: 50000, dtype: float64

In [8]:
bmw_data_set['Mileage_KM_min_max_scale'].describe()

count    50000.000000
mean         0.501539
std          0.289718
min          0.000000
25%          0.250884
50%          0.501945
75%          0.753163
max          1.000000
Name: Mileage_KM_min_max_scale, dtype: float64

### Z-Score AKA StandardScale

In [9]:
bmw_data_set['Mileage_KM_z_score_scale'] = (bmw_data_set['Mileage_KM'] - bmw_data_set['Mileage_KM'].mean()) / bmw_data_set['Mileage_KM'].std()
bmw_data_set['Mileage_KM_z_score_scale']

0        0.887806
1        0.368713
2       -1.541489
3       -1.260792
4        0.376652
           ...
49995    0.875414
49996    0.812695
49997    1.288054
49998   -1.672863
49999    1.220123
Name: Mileage_KM_z_score_scale, Length: 50000, dtype: float64

In [10]:
bmw_data_set['Mileage_KM_z_score_scale'].describe()

count    5.000000e+04
mean     3.812062e-17
std      1.000000e+00
min     -1.731129e+00
25%     -8.651691e-01
50%      1.403085e-03
75%      8.685146e-01
max      1.720507e+00
Name: Mileage_KM_z_score_scale, dtype: float64