In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

vehicles_data_set = pd.read_csv('/home/jovyan/work/datasets/vehicles_cleaned.csv')
vehicles_data_set

,price,year,manufacturer,fuel,odometer,title_status,transmission,type,state
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,gas,32226.0,clean,other,sedan,wy
426876,30590,2020.0,volvo,gas,12029.0,clean,other,sedan,wy
426877,34990,2020.0,cadillac,diesel,4174.0,clean,other,hatchback,wy
426878,28990,2018.0,lexus,gas,30112.0,clean,other,sedan,wy
426879,30590,2019.0,bmw,gas,22716.0,clean,other,coupe,wy

In [3]:
X = vehicles_data_set.copy()
y = vehicles_data_set['price']

X.drop(columns=['price'], inplace=True)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    train_size=0.6,
    random_state=42
)

X_test, X_val, y_test, y_val = train_test_split(
    X_test,
    y_test,
    train_size=0.5,
    random_state=42
)

X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_val.shape, y_val.shape

((256128, 8), (256128,), (85376, 8), (85376,), (85376, 8), (85376,))

In [4]:
X_train['transmission'].unique()

array(['automatic', 'other', 'manual', nan], dtype=object)

In [6]:
index_rows_transmission_null = X_train[X_train['transmission'].isnull()].index.to_list()

X_train_transmission_ffill_imputed = X_train.copy()

print(
    X_train_transmission_ffill_imputed.isnull().any()
)

X_train_transmission_ffill_imputed.ffill(inplace=True)

print(
    X_train_transmission_ffill_imputed.isnull().any()
)

[368797,
 232517,
 105247,
 237353,
 127979,
 330404,
 111982,
 117291,
 422810,
 304940,
 167765,
 319437,
 197408,
 254026,
 234493,
 98708,
 176029,
 238430,
 44771,
 389528,
 5384,
 330939,
 130003,
 256334,
 360685,
 266670,
 57444,
 190205,
 254014,
 401908,
 370411,
 241987,
 8792,
 286352,
 168711,
 42512,
 234739,
 400798,
 368865,
 123992,
 229852,
 6029,
 255921,
 128556,
 100049,
 330064,
 255080,
 167502,
 118619,
 30882,
 245288,
 116595,
 81652,
 45910,
 127832,
 236667,
 58609,
 189235,
 233441,
 257658,
 238035,
 8384,
 169118,
 401916,
 235885,
 116099,
 33304,
 130239,
 128353,
 389971,
 320119,
 335292,
 51640,
 329512,
 411939,
 361005,
 362569,
 283171,
 307075,
 128788,
 389521,
 77891,
 132936,
 8800,
 8803,
 105553,
 401911,
 202741,
 250009,
 254069,
 232308,
 115406,
 7169,
 118532,
 267187,
 332770,
 407941,
 35302,
 104860,
 235877,
 2961,
 102448,
 342936,
 263697,
 335139,
 238418,
 398190,
 58170,
 263776,
 411932,
 231755,
 301771,
 96912,
 328675,
 306170,
 148381,
 168390,
 167786,
 100548,
 342322,
 238428,
 275068,
 115073,
 330065,
 242762,
 190158,
 342941,
 158119,
 202748,
 118305,
 81190,
 55384,
 369736,
 57794,
 237945,
 237581,
 392218,
 31918,
 395304,
 283057,
 81429,
 43350,
 235986,
 302701,
 264330,
 233439,
 278819,
 97995,
 22086,
 98713,
 81329,
 276470,
 199180,
 20,
 206893,
 75853,
 85344,
 33303,
 140038,
 90000,
 57797,
 226533,
 81732,
 238431,
 4,
 370207,
 121152,
 77266,
 187222,
 238086,
 233269,
 140101,
 202626,
 360879,
 30872,
 237947,
 359856,
 70037,
 237107,
 394047,
 117269,
 371243,
 395418,
 264040,
 388245,
 231826,
 64815,
 253278,
 94693,
 255265,
 81557,
 283448,
 102484,
 237111,
 167392,
 97358,
 41112,
 167187,
 296944,
 101040,
 238037,
 411936,
 237421,
 84863,
 121121,
 235879,
 148419,
 50934,
 202130,
 79744,
 277125,
 178713,
 129907,
 10,
 372138,
 265176,
 328094,
 117747,
 382198,
 255106,
 148137,
 79930,
 169734,
 9274,
 175395,
 330656,
 6284,
 348873,
 7781,
 413617,
 292332,
 332728,
 237351,
 334914,
 269980,
 256931,
 128049,
 176157,
 175630,
 330635,
 274981,
 234332,
 58421,
 235950,
 30980,
 264284,
 348665,
 413227,
 253803,
 344310,
 328021,
 41039,
 254706,
 181480,
 186371,
 128498,
 81391,
 232744,
 284889,
 346765,
 59352,
 388274,
 388098,
 338813,
 236630,
 242613,
 363771,
 235870,
 149804,
 334497,
 128482,
 401907,
 401900,
 21211,
 138538,
 413620,
 107607,
 52675,
 265048,
 236672,
 90788,
 100702,
 241437,
 95365,
 130780,
 121100,
 100547,
 338590,
 116573,
 392043,
 101299,
 232325,
 148756,
 389970,
 389984,
 200177,
 392027,
 413616,
 106938,
 358859,
 250193,
 36311,
 36172,
 389796,
 390293,
 123247,
 405863,
 202727,
 333242,
 333994,
 347035,
 334553,
 142809,
 273701,
 43625,
 78339,
 168581,
 334904,
 335148,
 333204,
 66435,
 371429,
 234334,
 320120,
 258334,
 7402,
 360604,
 329510,
 170187,
 238573,
 102493,
 329679,
 342410,
 157153,
 389435,
 401919,
 383424,
 94426,
 57448,
 129268,
 413619,
 330149,
 422666,
 383175,
 320290,
 104373,
 392415,
 295399,
 158920,
 319931,
 347766,
 369365,
 302743,
 320344,
 141282,
 332986,
 237946,
 245621,
 137485,
 237397,
 147867,
 374105,
 98915,
 330886,
 191921,
 257576,
 72478,
 374115,
 371097,
 242259,
 257270,
 81496,
 52646,
 348636,
 43307,
 397133,
 238601,
 233546,
 237110,
 390279,
 237359,
 63993,
 130302,
 295533,
 388736,
 376459,
 256495,
 254584,
 147571,
 129580,
 241995,
 117568,
 35421,
 100592,
 58317,
 390263,
 168424,
 333974,
 242257,
 390052,
 234006,
 369260,
 359447,
 388244,
 330937,
 369502,
 408940,
 389765,
 236845,
 237543,
 106149,
 264693,
 400793,
 232648,
 400797,
 5088,
 230619,
 36522,
 148450,
 180181,
 347655,
 141206,
 191212,
 283055,
 75678,
 411942,
 121520,
 167766,
 55665,
 392433,
 103561,
 30813,
 129153,
 57802,
 244263,
 128582,
 161841,
 128606,
 148853,
 127736,
 276015,
 244824,
 96050,
 329745,
 350638,
 32546,
 167836,
 169494,
 368818,
 123201,
 374051,
 329339,
 64579,
 84808,
 65904,
 398975,
 369054,
 103237,
 346805,
 201398,
 52297,
 30833,
 9169,
 393213,
 100703,
 57443,
 80021,
 329888,
 333074,
 130414,
 121150,
 235871,
 258933,
 190226,
 241989,
 57807,
 329500,
 240437,
 245879,
 89209,
 360698,
 295365,
 38267,
 99155,
 387236,
 128293,
 103218,
 104539,
 276709,
 98443,
 422993,
 276510,
 55404,
 370377,
 51050,
 401906,
 345126,
 148412,
 189843,
 398111,
 258499,
 401904,
 196288,
 328015,
 22440,
 81430,
 274227,
 240350,
 238036,
 407888,
 116554,
 193146,
 422928,
 80081,
 236849,
 105593,
 128315,
 329497,
 276689,
 130074,
 264116,
 244520,
 329838,
 57810,
 42485,
 413622,
 411941,
 265444,
 371442,
 93860,
 141904,
 332831,
 383686,
 341153,
 105714,
 237108,
 54582,
 242602,
 190164,
 334761,
 283981,
 6310,
 411230,
 30669,
 338694,
 338460,
 79822,
 14704,
 160387,
 392099,
 328022,
 157719,
 85949,
 249096,
 306168,
 348673,
 411938,
 1,
 301305,
 135157,
 237356,
 237576,
 299698,
 237588,
 117392,
 332678,
 104969,
 360208,
 319222,
 330401,
 238082,
 57442,
 232742,
 58785,
 194066,
 422914,
 148769,
 244937,
 389252,
 98437,
 129195,
 180480,
 245332,
 8808,
 9,
 165435,
 237599,
 390057,
 224410,
 187643,
 245622,
 79274,
 148786,
 410218,
 383877,
 95295,
 235869,
 317422,
 253885,
 306807,
 191443,
 238155,
 27538,
 392483,
 328053,
 139961,
 330073,
 176594,
 237339,
 21,
 275943,
 341328,
 58423,
 390245,
 35922,
 241453,
 258868,
 7394,
 244134,
 165502,
 236828,
 348275,
 149465,
 389766,
 43258,
 88586,
 426618,
 230760,
 322636,
 319219,
 334910,
 192018,
 94587,
 238192,
 84624,
 167407,
 43498,
 9114,
 241986,
 167767,
 58430,
 235872,
 140417,
 369120,
 253861,
 202724,
 99910,
 8,
 258602,
 168491,
 242328,
 95602,
 238508,
 379734,
 233433,
 84226,
 330909,
 328177,
 233817,
 173628,
 348221,
 389852,
 190228,
 56684,
 390079,
 380190,
 100821,
 237109,
 21979,
 394661,
 255002,
 188046,
 237546,
 5284,
 319706,
 245873,
 100737,
 273127,
 122685,
 75845,
 413614,
 59726,
 66105,
 295054,
 96507,
 23565,
 233545,
 167779,
 237696,
 314990,
 328101,
 394586,
 7847,
 338810,
 313953,
 330737,
 238081,
 59398,
 115902,
 57789,
 329937,
 129890,
 85660,
 167201,
 244802,
 241244,
 281318,
 348745,
 235873,
 116609,
 369097,
 247438,
 118554,
 253749,
 58411,
 334324,
 57796,
 140935,
 279447,
 130023,
 270388,
 116354,
 280936,
 259068,
 129530,
 116080,
 245489,
 21586,
 333238,
 348643,
 350640,
 168389,
 345048,
 348758,
 285041,
 95539,
 403141,
 100409,
 232587,
 97141,
 236654,
 192116,
 129680,
 264005,
 63467,
 398437,
 64401,
 236844,
 88137,
 159273,
 189233,
 173700,
 392220,
 93833,
 389902,
 80766,
 255892,
 242771,
 256576,
 327959,
 345903,
 237019,
 329554,
 328677,
 369936,
 411944,
 323770,
 71685,
 129631,
 237212,
 237589,
 237541,
 334277,
 173617,
 73333,
 59160,
 372432,
 330706,
 330317,
 237036,
 116672,
 295055,
 333842,
 43744,
 23,
 58422,
 229861,
 411937,
 356310,
 413611,
 180487,
 240968,
 327979,
 197328,
 401910,
 83939,
 245027,
 140579,
 255932,
 389418,
 237046,
 334911,
 240353,
 137803,
 169220,
 180507,
 238193,
 97299,
 295535,
 297906,
 41922,
 129290,
 103917,
 58717,
 235884,
 57790,
 370571,
 334818,
 191000,
 280565,
 258865,
 79943,
 85353,
 337560,
 231827,
 127930,
 293766,
 238066,
 237562,
 274307,
 320198,
 305768,
 389972,
 410965,
 279920,
 81025,
 386952,
 328223,
 106937,
 255421,
 289373,
 148858,
 263895,
 328178,
 389494,
 254081,
 103767,
 263473,
 423692,
 191110,
 389854,
 328095,
 136711,
 164595,
 237045,
 411926,
 193500,
 42600,
 319572,
 44465,
 389359,
 176991,
 330541,
 265745,
 99481,
 423721,
 3,
 401905,
 90790,
 147342,
 193498,
 413615,
 147424,
 167156,
 191296,
 394542,
 253374,
 388618,
 173623,
 81135,
 77227,
 178545,
 286477,
 254013,
 77196,
 370442,
 269392,
 265323,
 34041,
 244850,
 400796,
 268036,
 141505,
 334919,
 58429,
 265619,
 330406,
 241998,
 302586,
 45175,
 258335,
 160332,
 320006,
 233816,
 255773,
 381566,
 287087,
 84860,
 242350,
 237698,
 257799,
 129474,
 81651,
 51453,
 330759,
 237950,
 148134,
 278358,
 8795,
 237373,
 141134,
 392437,
 347781,
 329712,
 392042,
 36547,
 200427,
 359899,
 237827,
 392464,
 244990,
 106908,
 190752,
 242271,
 276060,
 281236,
 332612,
 95977,
 59242,
 408946,
 254040,
 330428,
 176152,
 143518,
 328014,
 236628,
 400091,
 333484,
 411923,
 237570,
 389764,
 65309,
 359113,
 118563,
 129874,
 237590,
 223306,
 237352,
 233123,
 232745,
 333905,
 36063,
 129046,
 98648,
 389523,
 101263,
 140714,
 255141,
 132172,
 388225,
 173626,
 334478,
 410112,
 320048,
 193260,
 334764,
 95956,
 223366,
 404743,
 176910,
 111990,
 285220,
 285256,
 127058,
 306910,
 330479,
 81497,
 240104,
 333995,
 328179,
 348187,
 369469,
 411931,
 81500,
 237043,
 363808,
 192246,
 233818,
 14,
 347048,
 ...]